[2018-05-02 18:41] omusavi opened #3 "Redirect LoginType creates an infinite login loop"
### Minimal steps to reproduce

### Expected/desired behavior

[2018-05-07 21:01] lbochenek opened #5 "can't log in with Microsoft / Facebook / Google, only existing accounts"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

[2018-05-07 21:37] lbochenek opened #6 "user is not recognized as logged in on refresh"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Expected/desired behavior

[2018-05-09 16:16] cicorias opened #7 "move to Travis CI as build and publish"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

### Versions

### Mention any other details that might be useful

[2018-05-09 16:18] cicorias opened #8 "move samples to sub-path under library"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

### Versions

### Mention any other details that might be useful

[2018-05-09 17:38] lbochenek opened #9 "sample app should work with both redirect and button"
We should either update the sample README to point out commenting/uncommenting which version of the Sample they want to run (redirect or popup); or, we should update the sample so that we have a button that goes to the redirect sample and a button that goes to the popup sample to avoid user's having to touch the sample code. Thoughts?

[2018-05-09 17:39] #3 closed, assigned to omusavi

[2018-05-09 17:49] lbochenek opened #10 "build should ignore sample app"

[2018-05-09 17:50] lbochenek opened #11 "make sure readmes up to date"

[2018-05-10 14:33] lbochenek opened #13 "add mit copy above all files"
//
// Copyright (c) Microsoft. All rights reserved.
// Licensed under the MIT license.
//
// MIT License:
// Permission is hereby granted, free of charge, to any person obtaining
// a copy of this software and associated documentation files (the
// "Software"), to deal in the Software without restriction, including
// without limitation the rights to use, copy, modify, merge, publish,
// distribut

[2018-05-10 15:56] #8 closed, assigned to nobody

[2018-05-10 18:20] zmmille2 opened #15 "Windows symlink error"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure
[code]

### Expected/desired behavior

### OS and Version?

### Versions

[2018-05-10 19:25] #13 closed, assigned to lbochenek

[2018-05-10 20:03] lbochenek opened #18 "npm run start pulls an old version of react-aad-msal"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Expected/desired behavior

### OS and Version?

[2018-05-10 20:41] #11 closed, assigned to liliankasem

[2018-05-10 20:41] #10 closed, assigned to liliankasem

[2018-05-10 20:56] liliankasem opened #19 "Update sample project to support both popup and redirect without user intervention"
### This issue is for a: (mark with an `x`)
[code]

### Details
We should either update the sample README to point out commenting/uncommenting which version of the Sample they want to run (redirect or popup); or, we should update the sample so that we have a button that goes to the redirect sample and a button that goes to the popup sample to avoid user's having to touch the sample code. Thoughts?

[2018-05-10 20:57] #19 closed, assigned to nobody

[2018-05-10 23:05] #5 closed, assigned to nobody

[2018-05-11 00:54] liliankasem opened #20 "Update reduxStore.js in sample to include `AAD_LOGOUT_SUCCESS`"
### This issue is for a: (mark with an `x`)
[code]

[2018-05-11 03:50] #20 closed, assigned to nobody

[2018-05-14 15:28] #18 closed, assigned to liliankasem

[2018-05-14 15:28] #15 closed, assigned to liliankasem

[2018-05-14 16:26] cicorias opened #23 "cleanup the sample's package.json"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

[2018-05-14 18:04] #7 closed

[2018-05-14 18:34] #9 closed

[2018-05-14 18:56] cicorias opened #26 "On Windows the npm start command creates npm files in root of /sample directory"
[code]

### Minimal steps to reproduce
1. On Windows, with node 8.x, npm 5.6
1. clone the repositiry from a PowerShell session, ensure of course git is already installed
1. run from the root of the project, `npm start` - this triggers all the steps.

### Any log messages given by the failure
During running you will see the following
[code]

### Expected/desired behavior
Don't create these npm comm

[2018-05-14 23:28] cicorias opened #31 "npm install on fresh project fails"
[code]

### Minimal steps to reproduce
1. create new directory
1. change to that dir and run `npm init -y`
1. run `npm i react-aad-msal`
1. error indicates that some dependency is no longer published

### Any log messages given by the failure
[code]

### Expected/desired behavior

### OS and Version?

macOS High Sierra

### Versions

node 8.x, npn 5.6

[2018-05-14 23:43] liliankasem commented on #31
Not getting this error when I follow the repro steps:

<img width="795" alt="screen shot 2018-05-14 at 4 42 26 pm" src="https://user-images.githubusercontent.com/2198905/40028831-e4e1ea54-5795-11e8-83f9-866db385c4b5.png">

[2018-05-14 23:45] cicorias commented on #31
yea, seems transient now. close for now

[2018-05-14 23:45] #31 closed

[2018-05-15 19:26] omusavi opened #37 "AzureAD Component tests have low coverage"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Expected/desired behavior

### OS and Version?

### Mention any other details that might be useful

[2018-05-16 17:36] cadichris opened #38 "v0.3.10 seems empty"
### This issue is for a:
[code]

### Minimal steps to reproduce
I've found 2 ways to reproduce the issue :
#### On a fresh App
- create an app with `create-react-app` and `cd` into it
- `yarn install react-aad-msal`, that installs v0.3.10 at the time of writing
- in any .js file, add `import { AzureAD } from 'react-aad-msal';` and use `<AzureAD>`
- `yarn start`

#### Using the sample App
- Clone t

[2018-05-16 18:08] cadichris commented on #38
Thanks for the quick reply and the hint on 0.3.7.
Good luck on the Travis CI battle :p

[2018-05-16 18:08] #38 closed

[2018-05-16 20:31] #6 closed

[2018-05-17 08:03] cadichris commented on #38
Thanks, and no worries.

Perfect, I'll use that one!

[2018-05-17 12:12] cadichris opened #42 "[Potential PR] Use Prettier for formatting"
### This issue is for a:
Question about a potential PR

### Content
I've noticed [this comment](https://github.com/Azure-Samples/react-aad-msal/pull/41#discussion_r188750260) about formatting on a PR.

Have you considered using [Prettier](https://github.com/prettier/prettier) for code formatting ? I've been using it in a pre-commit hook on all of my JS projects for months now. And it's such a plea

[2018-05-20 16:53] levalencia opened #44 "example of react app also consuming a web api"
I couldnt find an example on this repo about how to use a react app with a web api (protected by azure ad also).

Is this possible?

[2018-05-20 20:35] cicorias commented on #44
It is planned, but it’s not in the sample yet. We can use this issue to track

[2018-05-21 19:18] omusavi opened #46 "Abstract out MSAL completely from component interfaces"
### This issue is for a: (mark with an `x`)
[code]

Currently, our common interfaces and component code are coupled with the MSAL library, making it difficult to add support for additional libraries if needed in the future, as well as reduces testability of the code.

[2018-05-21 20:05] omusavi opened #47 "unauthenticatedFunction called before authenticationFunction is called on re-render"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce
1. Open `sample/SampleAppButtonLaunch.js`
2. Add `console.log("unauthenticated");` at the beginning of unauthenticatedFunction
3. Run sample app with console open. Upon signing in with a button, "unauthenticated" is output to the console

### Expected/desired behavior
unauthenticatedFunction should not be called whe

[2018-05-21 20:11] omusavi commented on #47
Note that #45 will make it so this reproes for Redirect sample as well

[2018-05-21 21:12] liliankasem commented on #46
Did the PR do this fully? If so, shall we close this?

[2018-05-21 21:12] omusavi commented on #46
No, it did some of the work but for example, we still use `Msal.User` in our `IUserInfo` interface and that should be decoupled

[2018-05-21 21:13] omusavi opened #48 "AAD_LOGOUT_SUCCESS is not being exported"
https://github.com/Azure-Samples/react-aad-msal/blob/462e543162790314e65e70115a4e5cb4bb8d3eed/src/index.tsx#L155

`AAD_LOGOUT_SUCCESS` is not being exported

[2018-05-21 21:30] #48 closed

[2018-06-05 04:51] hashHan opened #52 "'react-aad-msal' does not contain an export named 'MsalAuthProviderFactory'"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

Sierra

### Versions

### Mention any other details that might be useful
Current version of npm module is not matched with [example](https://github.com/Azure-Samples/react-aad-msal/blob/master/sample/README.md)

I solve t

[2018-06-05 11:35] omusavi commented on #52
Apologies, the README was updated but the npm package was not. Please update to the latest (0.4.1) and that class should be available (and I confirmed is being exported)

[2018-06-05 11:35] #52 closed

[2018-06-05 18:56] dimitertodorov opened #53 "Unmounting component as a result of Redux Action causes: Warning: Can't call setState (or forceUpdate) on an unmounted component."
### This issue is for a:
[code]

Unmounting component as a result of Redux Action causes the following error.

We are using the component on an isolated route that unmounts the Login component if authentication is successful.

Changing the order in which the dispatch and authentiationState are handled would fix this.

Original:
[code]

Suggested Fix:
[code]

[2018-06-06 02:03] hashHan opened #54 "It catches hashes from other OAuth provider."
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce
 1. Add this package.
2. Add Google OAuth.
3. They have same redirect uri(root) because my app is SPA
4. I provide key state of google as `const GOOGLE_STATE = 'stateThisisfromgoogleOAuth'`
5. App.js
[code]

6. Relevant redux action.
[code]

7. react-aad-msal catches hash first and make error

### Any log messages g

[2018-06-06 02:33] hashHan opened #55 "react router and AADSTS50011"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce
1. Add this package.
2. It has redirect uri(http://localhost:3000/) because my app is SPA
3. I add this package on a button in `http://localhost:3000/oauth`
4. click the button, then it redirect to ms login page.
5. login is failed with AADSTS50011

### Any log messages given by the failure

![screen shot 2018-06-06

[2018-06-06 19:47] cicorias commented on #55
Can’t you share several things.
1. What are all the reply urls in your app setup in aad - screen shot
1. The text of the message instead of the image - I can’t easily translate from one language based upon an image
1. The full URL in the address bar - select it all and clipboard it. Remove any data you consider private

[2018-06-07 03:19] hashHan commented on #55
1. What are all the reply urls in your app setup in aad - screen shot
http://localhost:3000
screen shot:
![screen shot 2018-06-07 at 12 18 04 pm](https://user-images.githubusercontent.com/30920111/41076521-11edaff0-6a4d-11e8-86ec-f412d75a6980.png)

2. The text of the message instead of the image - I can’t easily translate from one language based upon an image

Center card
------------
로그인(Login)
죄

[2018-06-08 16:30] dimitertodorov commented on #55
If you are using React router with browserHistory. (without the #) you will need to add the full Reply URL to AzureAD since the route is now part of the URL.
Nothing to do with this particular library.

In my case I have two routes in my app for different authentication scenarios.
![image](https://user-images.githubusercontent.com/1225681/41169594-7c29085e-6b17-11e8-8d97-bbb93d5b3a1f.png)

[2018-06-27 14:54] abrunyee commented on #55
I've suffered similar issues with my application, because the redirect_uri in the MSAL UserAgentApplication defaults to whatever the current URL is, with no option to override it.

Because the user could potentially visit the site on any route, I would need a huge list of redirect_urls setting up in Azure to handle this. I initially handled this by forcing a redirect to "/" when not authenticated,

[2018-06-30 01:41] liliankasem commented on #53
I've made a PR to try your suggested change :)

[2018-07-02 17:35] #53 closed

[2018-07-03 15:06] TheDadi opened #58 "Provide a commonJS build in npm module"
[code]
### Expected/desired behavior

[2018-07-03 19:57] DaveVoyles opened #59 "AADSTS70001: Application with identifier 'undefined' was not found in the directory"
Win 10 with Visual Studio Code
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

2. `cd react-aad-msal`
3. Create a `.env.local` file, with the following variables:
[code]
4. Run the sample application `npm start`
5. Click on the pop-up button when it appears in the browser at localhost:3000
6. Enter credentials

### Any log messages given by the failure

AADSTS70

[2018-07-03 21:22] omusavi commented on #59
Can you try putting the .env.local file in the `samples` directory instead of the root dir? That should hopefully fix your issue.

Leaving this issue here to fix the documentation in the samples README

[2018-07-05 15:28] DaveVoyles commented on #59
I moved the .env.local file to the ```samples``` directory.
From ./samples I ran

[code]

And received this:

![image](https://user-images.githubusercontent.com/1786053/42332619-7aebea8a-8046-11e8-96f2-91eceb486e48.png)

From there, I navigated to the root directory. I ran:

[code]

And received the same error.

[2018-07-05 16:47] omusavi commented on #59
That is not an exception we throw, likely it is coming from the MSAL library. The Exception name seems to say that your Authority URI is not set correctly. Are you using https for the authority URL?

[2018-07-05 20:13] DaveVoyles commented on #59
The code snippet says it was option, so I left it out.

Once I added it with these credentials, **I got it to work. Thank you!**

[code]

Where ... is the rest of my client ID & authority

[2018-07-05 20:13] #59 closed

[2018-07-05 21:14] omusavi commented on #59
Ah yes, so the entire property is optional when creating the AzureAD component, but in the sample, we still set it to whatever is in the .env.local file. So what this means is it was being sent to blank and then passing that onto MSAL and throwing the error.

If you do not wish to set it in the .env.local file, you would need to remove the following line from the file `sample/SampleAppButtonLaunch

[2018-09-21 06:28] Mhbuur opened #61 "Can't call setState (or forceUpdate) on an unmounted component."
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

I get this warning when I use the AzureAD component inside another component which is only shown on certain routes

### Any log messages given by the failure

[code]

stack | line
-- | ---
printWarning | warning.js:33
warning | warning.js:57
warnAboutUpdateOnUnmounted | @ | react-dom.development.js:11186
scheduleWo

[2018-09-21 09:26] Mhbuur commented on #61
You can close this. I created a Login route with a dedicated login view component with the AzureAD component as child. This was un mounted on other routes which caused the issue.

[2018-09-27 12:00] damirfe commented on #61
I'm having this issue when i try to logout. I use AzureAD component on login page it's a wrapper for Login Page and it gets unmounted once user is logged in. Login is not in navigation bar and that is not an option for me.

[2018-10-12 08:21] Mhbuur commented on #61
Sounds like you made the same mistake as I did. Don't use the component on a login page - use it in your main app component and store the callbacks instead so you can hook them up with routed components later on.

[2018-10-25 13:32] mcmillhj-wta opened #62 "How to use a tenant specific endpoint"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

### Versions

### Mention any other details that might be useful
I fully anticipate that this is an issue with our configuration in Azure or usage of the component, but I was hoping to get some advice on how to proceed.

[2018-11-02 18:20] omusavi commented on #62
Sorry for the delay in getting back to you. I would guess that the problem here is that the authority URI is not being set, so it defaults to 'common' (https://login.microsoftonline.com/common)

Please see the documentation for guidelines on setting the Authority URI. [Here is the documentation ](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-convert-app-to-be-multi-tenant#u

[2018-11-02 18:22] omusavi commented on #61
@Mhbuur Thanks for the issue and response - putting the component in the main app is the preferred way as the MSAL library uses browser sessions anyways so it wouldn't really work where you could have 2 sub components authenticated to different accounts (by design)

[2018-11-02 18:22] #61 closed

[2018-11-06 14:37] mcmillhj-wta commented on #62
@omusavi Sorry for the delay in response. I'll set aside some time this week to test the component using our Authority URI.

[2018-11-16 12:03] vjrantal commented on #62
I was able to get past the mentioned error by setting the `REACT_APP_AUTHORITY` to match with the tenant I am using - something like:

[code]

[2018-11-16 13:22] cicorias commented on #62
Maybe @lbochenek might even remember who we are and advise ;)

[2018-11-16 19:14] AllanLa opened #63 "How to Use React Login for Admin Consent Permissions"
I am trying to authenticate via adminconsent endpoint with my app using https://login.microsoftonline.com/{tenant}/adminconsent . The code below is my approach. I have also tried " authority: https://login.microsoftonline.com/tfp/<your-tenant-name>.onmicrosoft.com/adminconsent " but it does not work, gets a 400 error when I run it because it makes a "GET https://login.microsoftonline.com/admincons

[2018-11-20 19:21] RaySheikh opened #64 "How to check token validity AAD"
- [ ] bug report -> please search issues before submitting
- [x] feature request
- [ ] documentation issue or request
- [ ] regression (a behavior that used to work and stopped in a new release)

Hi, I'm using an auto redirect to sign in via Azure AD. I am storing the token in local storage. Is there a way to know or check if the token is invalid or revoked so I can autoredirect to authenticate?

[2018-11-22 20:34] jjcollinge commented on #58
Any progress on this front? I'm hitting an issue at the moment using Jest which relies on node and therefore doesn't natively support ES6 yet. I can get it to pre-transform the ES6 to commonJS using babel 6 but this feature seems to have stopped working with babel 7. It'd be much easier to consume the package if this was already done as part of the build process and shipped as CommonJS.

[2019-01-31 11:55] roberthchapman opened #66 "After install, can't build with create-react-app"
Hi, when using create-react-app with react-scripts 2.1.3 (as in simply the latest version), the application does not build.  There are conflicts with old versions of babel-jest and jest versus the newer ones in create-react-app.  I've never had these issue with a library before.  Are babel-jest and jest meant to be released in the production version of this library or should they be dev dependenci

[2019-02-04 09:11] roberthchapman commented on #66
I got around it using the following in my package.json:

  "resolutions": {
    "jest": "23.6.0",
    "babel-jest": "23.6.0"
  },

which forces react-aad-msal to use the later versions which create-react-app uses, and therefore removes the conflict but you should really be removing jest and babel-jest from dependencies if they are only needed as dev-dependencies as it will avoid a lot of unnecessa

[2019-02-11 18:41] kirti-sharma2812 opened #67 "no such file or directory, rename \react-aad-msal\sample\node_modules\.staging\@babel\code-frame-80e265f4"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

Clone the repo. Replace the clientId and authority in SampleAppRedirectOnLaunch.js and SampleAppButtonLaunch.js. Run npm install followed by npm start

### Any log messages given by the failure

npm ERR! code ENOENT
npm ERR! errno -4058
npm ERR! syscall rename
npm ERR! enoent ENOENT: no such file or directory, rena

[2019-02-25 14:31] cpeker opened #68 "Deserialization Code Execution"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

### Versions

Hey,
We're trying to run "npm install" command but we're getting "critical" vulnerability error that might be related with react-aad-msal library.

Please see the screenshot below

![resim](https://user-imag

[2019-03-05 18:40] RaySheikh opened #69 "UnauthenticatedFunction is always called"
Hi, I'm trying to auto redirect users to authenticate. It seems the UnauthenticatedFunction is called when coming back from the redirect until the token is received but if the persistLoginPastSession is set to true and I open a new browser window it runs the UnaunthenticatedFunction even though the local storage has a valid token. This causes an auto redirect every time a new window is opened. Is

[2019-03-05 18:42] #64 closed

[2019-03-22 21:37] liliankasem commented on #68
Hey @cpeker, there has been a PR (#70) that fixes the vulnerability problems; let me know if that solves your issue!

I'll work on getting that released into a new npm version asap.

[2019-03-22 21:41] liliankasem commented on #66
Hey @roberthchapman, thanks for pointing this out!

A temp fix: A new PR (#70) has gone in that updated the versions.

When this goes through I'll go back and make a new PR to update the devDependencies like you suggest :) Thanks!

[2019-03-22 21:44] liliankasem commented on #62
@mcmillhj-wta Hey, still having issues with this or did @vjrantal's suggestion help?

[2019-03-22 21:44] #47 closed

[2019-03-22 23:02] AndrewCraswell commented on #69
This explains why my project is getting caught in an endless login loop when I set the unauthenticated callback to force a login :).

I can reproduce the bug as well by setting up a basic project and putting a `console.log` statement in each of the callbacks. The unauthenticated callback gets triggered before the cache is checked, then the authenticated callback is triggered last. I might take a l

[2019-03-23 00:06] AndrewCraswell opened #74 "Generate .d.ts definition files as part of build."
Generate the `.d.ts` definitions alongside the transpiled `.js` output. This way TypeScript projects that import the `.js` files will be able to make use of the types. This should silence type errors received by linting.

### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Expected/desired behavior

[2019-03-23 00:07] AndrewCraswell commented on #74
I have a PR for this I will submit shortly for feedback. This would be my first time needing to generate definition files, so any comments would be well welcomed.

[2019-03-23 00:23] liliankasem commented on #74
Sounds good, I'll take a look when it comes in :)

[2019-03-23 00:37] AndrewCraswell commented on #74
@liliankasem It's in!

[2019-03-23 02:36] liliankasem commented on #67
The new PR (#76) coming in should fix this.

When it goes through, I would recommend updating the module reference in the sample code's package.json to the released package version instead of the `file:../` reference; though after this PR, running `npm install && react-scripts start` just fine locally. You may run into a bable issue, this can be solved by either

a) just reference the new release

[2019-03-24 02:33] AndrewCraswell commented on #26
I was messing with the `npm scripts` in another PR and just went ahead and fixed the files being output into the `./sample` folder. It was being caused due to the use of the `npm --prefix` flag. Instead, I've just changed it to `cd` into the `./sample` folder and perform the npm `install`. While that fixes the symptoms, I'm not sure that resolves this issue. I think the scripts could be cleaned up

[2019-03-25 16:22] #26 closed

[2019-03-25 16:22] #74 closed

[2019-03-25 16:57] #66 closed

[2019-03-25 16:58] #68 closed

[2019-03-25 16:59] #23 closed

[2019-03-25 17:54] #42 closed

[2019-03-25 17:54] #58 closed

[2019-03-25 21:08] liliankasem commented on #63
Hi @AllanLa, it looks like the msal.js library that this project is using doesn't support admin consent. Please take a look at these issues:

https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/364
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/601

I'm more than happy to update this module with admin consent support when the msal.js team implements

[2019-03-25 21:08] #63 closed

[2019-03-25 21:12] #55 closed

[2019-03-25 21:16] liliankasem commented on #62
@mcmillhj-wta hopefully the answers from @vjrantal and @omusavi have been useful. It does seem to me as well that it's a miss-configuration issue and not a library issue. I'll close this for now, feel free to reopen if you're still facing issues.

[2019-03-25 21:16] #62 closed

[2019-03-25 22:20] liliankasem commented on #54
Are you using a different module to handle google OAuth instead of using MSAL to enable Google and Microsoft login (like the picture below)? Which module is it? Any chance you can point to a sample project so I can take a better look. I'm wondering if this is msal.js lib issue and not this wrapper's issue.

![Screen Shot 2019-03-25 at 3 19 22 PM](https://user-images.githubusercontent.com/2198905/5

[2019-03-25 22:22] liliankasem commented on #69
I was speaking to @omusavi today and he mentioned this might be an issue with the actual msal.js library, but we didn't have time to go deep into this. I don't have the time to really go deep into investigating this at the moment, but I'll come back to it when when I don't have any projects on my plate.

Any PR's are of course welcome :)

[2019-03-26 00:27] AndrewCraswell commented on #69
I am nearly done with a PR. At first glance, it did seem like an issue with msal.js. After logging in and being redirected to the page, we would check if isLoggedIn() which always returned false because MSAL hadn't yet cached data into `localStorage` or `sessionStorage`. However, it seems to get around this they expose a function called isLoginInProgress() which checks the cache to see if anything

[2019-03-26 22:33] #69 closed

[2019-03-28 20:14] AndrewCraswell opened #83 "Add forceLogin boolean parameter on <AzureAD /> component"
**Describe the solution you'd like**
For most scenarios, I want to use the AzureAD component to force authentication to access a page or application. After fixing the `unauthenticatedFunction` callback loop issue, that can be accomplished by using the `unauthenticatedCallback` to call the `login()` function. I think that because this is likely a very common scenario, it could be useful to support

[2019-03-28 20:43] AndrewCraswell commented on #46
Is this still desired? I can see some benefit to to decoupling, at the same time if this is meant to be a wrapper for MSAL, then some coupling where it makes sense will reduce the work required when updating the MSAL.js library dependency. In the example of `Msal.User`, if we replace its use with our own model, and updates to the model in MSAL will require similar updates on our end.

Otherwise, t

[2019-03-28 21:30] omusavi commented on #46
Yeah that's ok to close it out. I did some work previously to decouple it and i think its in a fairly good state right now

[2019-03-28 21:30] #46 closed

[2019-03-28 21:34] liliankasem commented on #83
This sounds good to me, I have no issues with adding a new parameter that does this. I'll differ to @tessmichi in case she has additional comments / concerns :)

[2019-03-29 19:59] #83 closed

[2019-03-29 23:18] RaySheikh opened #85 "Acquire token silently"
Hi, Is there a way to have a function to refresh the token silently using the `msal.acquireTokenSilent` function. This will help with refreshing the token silently instead of having a popup/redirect. Maybe a fallback could be a popup/redirect.

Thanks!

[2019-04-10 23:13] step-lee commented on #85
I have a [PR](https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/622) out to improve the behavior of acquireTokenSilent as that function can be problematic right now. The msal team is currently working on some changes and I'm working with them to hopefully get that merge in

[2019-04-12 05:47] pcherkasova opened #86 "It is not clear how to configure AAD B2C app"
details: https://stackoverflow.com/questions/55645155/porting-app-from-react-azure-adb2c-to-react-aad

[2019-04-29 21:09] ismatim commented on #86
I think, this should be closed @liliankasem.

[2019-05-02 17:33] #86 closed

[2019-05-03 00:48] pcherkasova opened #88 "Sample App fails to run"
When I follow the steps, I get error. Recommendations in error description do not help.
I have Windows 10.

Steps I follow: https://github.com/syncweek-react-aad/react-aad/blob/master/sample/README.md
Error details:

c:\_\react-aad-msal>npm start

npm WARN extract-text-webpack-plugin@3.0.2 requires a peer of webpack@^3.1.0 but none is installed. You must install peer dependencies yourself.
npm WAR

[2019-05-03 00:51] pcherkasova opened #89 ""Forgot Password" does not work with AAD B2C"
The link "Forgot Password?" does not work with AAD B2C and it is not clear how to configure it.

Details: https://stackoverflow.com/questions/55718030/how-do-i-make-forgot-password-working-in-react-aad-msal-with-azure-ad-b2c

[2019-05-05 00:23] jonathaneckman commented on #89
I'm working through the same issue. If you set up the config to navigate directly to the reset password flow, it works. If you try to pick up the AADB2C90118 code returned from AAD during a login flow and manually redirect the user to the reset password flow, it ignores the login command and reloads the app at the "/" route.

[2019-05-05 00:59] pcherkasova commented on #89
@jonathaneckman , will try it out. Thank you. Did you consider to contribute the code sample to the readme?

[2019-05-05 13:21] jonathaneckman commented on #89
@pcherkasova sorry for the false hope. I dont have a solution yet. I edited my original post to better describe the 2 configurations I've been testing with.

[2019-05-24 11:08] plotka opened #92 "Update msal to v1"
Are there plans to update the msal package to v1? It was [released recently](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases) and it would be great to have it here, with all the improvements and bug fixes.

Thanks!

[2019-05-26 23:37] AndrewCraswell commented on #88
Thanks for filing the issue. A PR was submitted, and I'd like to see about getting it released during the long weekend.

[2019-05-26 23:41] AndrewCraswell commented on #92
Yes, this is an important update. I think getting a PR submitted to update MSAL to v1 should be a high priority item.

[2019-05-27 00:22] AndrewCraswell commented on #44
If your use case is as simple as just needing to add an Authorization header to a request with the JWTToken, then something like this is suitable:

[code]

Using the documentation you can see how to integrate the authentication response with Redux, and here I'm just pulling the token out of my state if it exists and adding a request header before making the request. This is a simple method I have

[2019-05-27 00:22] #88 closed

[2019-05-27 06:40] AndrewCraswell commented on #92
Hey @plotka, I've submitted a PR to update the MSAL version to the latest. Be aware that there are multiple breaking changes, so any code you already have will need to be modified. Mostly this relates to how you pass configurations to auth provider factory.

[2019-05-27 06:51] AndrewCraswell commented on #54
Closing this issue for being stale. If someone is able to repro after the most recent update to MSAL v.1.0.1 then we can reopen.

[2019-05-27 06:51] #54 closed

[2019-05-27 07:10] AndrewCraswell commented on #89
It looks like this may be something that needs to be fixed in MSAL before we can wrap the functionality. I'm seeing open issues on the MSAL project for this same thing...

https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/issues/9

[2019-05-28 20:17] #92 closed

[2019-05-30 18:15] AndrewCraswell commented on #89
I'm going to close this issue since it's being tracked in the MSAL library. Please feel free to update this issue if they resolve the issue on their side and we can take in the change.

[2019-05-30 18:15] #89 closed

[2019-05-31 15:12] jodonnell opened #95 "TypeError with CacheLocation"
**Describe the bug**
I followed the documentation,
  const config = {
    auth: {
      authority: (process.env.REACT_APP_AUTHORITY as string),
      clientId: (process.env.REACT_APP_AAD_APP_CLIENT_ID as string),
    },
    cache: {
      cacheLocation: "localStorage",
      storeAuthStateInCookie: true
    },
  };

and got a TypeError

Argument of type '{ auth: { authority: string; clientId: stri

[2019-06-01 01:16] AndrewCraswell commented on #95
Could you share your `tsconfig.json` and your TypeScript version? I'm not seeing the same TypeError be thrown so I'd like to replicate the environment as close as possible to test again.

[2019-06-01 01:45] jodonnell commented on #95
version 3.4.5

`{
  "compilerOptions": {
    "target": "es5",
    "lib": [
      "dom",
      "dom.iterable",
      "esnext"
    ],
    "allowJs": true,
    "skipLibCheck": true,
    "esModuleInterop": true,
    "allowSyntheticDefaultImports": true,
    "strict": true,
    "forceConsistentCasingInFileNames": true,
    "module": "esnext",
    "moduleResolution": "node",
    "resolveJsonModule": tru

[2019-06-11 03:06] koriner opened #97 "Requesting scopes for multiple resources"
I'm trying to request scopes for multiple resources, but it doesn't seem to be working for me.

I have some normal scopes, but I also want to request access to Azure Storage APIs, using a scope called "https://storage.azure.com/user_impersonation".

If I include it in the regular scopes array I get an error because you can't combine scopes for different resources in the single `scopes` list. Appar

[2019-06-11 05:31] icelight89 opened #98 "Example for b2clogin.com"
The Azure b2c portal is reminding me that login.microsoftonline.com is not going to be supported in the future and therefore I wanted to use the recommended b2clogin.com as the authority.

I'm not able to get things working with b2clogin.com and wanted to ask if this is actually supported and in case, could you show a short example of how to do it? Thanks!

Best Regards

[2019-06-11 14:28] andyjsbell opened #99 "Sample fails to load popup"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-06-11 14:29] #99 closed

[2019-06-11 14:30] andyjsbell opened #100 "Sample fails to load popup"
**Describe the bug**
Sample popup fails to load login page

**To Reproduce**
Steps to reproduce the behavior:
1. Load app
2. Hit button to login via popup
3. Error reported:
Request Id: 180bf79e-426a-46e9-801e-1f1701882500
Correlation Id: dbc61e86-e6b4-4511-98de-fded2a6abcf8
Timestamp: 2019-06-11T14:25:46Z
Message: AADSTS900144: The request body must contain the following parameter: 'client_id'.
A

[2019-06-11 16:31] jdgeier commented on #100
I am getting the same error. I looked at the url in the popup the url is showing the correct authority url but is missing the client_id in the url params

[2019-06-11 19:31] jdgeier commented on #100
Looks like the problem is with the casing of the clientID in the config. Needs to be clientId not clientID

[2019-06-12 12:24] robb1ssell commented on #97
authParams is a separate object and should be exported on it's own, not inside msalConfig object.

The call when creating a new provider takes them as separate arguments, hence why they must be separate. Like so:
[code]

Then the AzureAD component has a provider prop that needs both as arguments. Login type is optional because it has a default.

[code]

[2019-06-12 12:30] andyjsbell commented on #100
`clientId` did it, thanks

[2019-06-12 12:38] robb1ssell opened #102 "App not re-rendering after token refresh"
**Describe the bug**
After user has had the site open for some time, a page navigation or refresh causes a token refresh. The token refresh is successful, but the AzureAD component gets stuck at authenticationState: 1, instead of going to authenticationState: 2, like it does when first acquiring the token.

**To Reproduce**
Steps to reproduce the behavior:
1. Acquire first token
2. Browse site for

[2019-06-12 20:25] hernan-almeida commented on #102
This is only an issue with `LoginType.Redirect`. Looks like `<AzureAD />` does not re render after the the redirect.

[2019-06-12 20:51] koriner commented on #97
@robb1ssell Sorry I should have explained that's just how I am storing my config. I actually do pass the params separately:

[code]

The extra scopes still do not seem to have any effect.

[2019-06-13 21:12] #100 closed

[2019-06-14 17:28] robb1ssell commented on #102
So, I believe I have found the cause.

In AzureAD.js, the Authenticating state case is not complete.
[code]

I believe this is the cause for the state getting stuck at 1 during the token refresh. What would need to go here? Another call to login?

[2019-06-23 20:55] seed-of-apricot opened #103 "Refused to display 'URL' in a frame because it set 'X-Frame-Options' to 'deny' on first login attempt"
### This issue is for a: (mark with an `x`)
[code]

The popup method for Azure B2C signin-signup policy would not work for the first trial.
Few seconds after the failure of the first popup, another same popup appears and let users to login again, and they will get logged in with the second popup.

### Minimal steps to reproduce
1. Clone the sample repository
2. Set the authority, clientId and logi

[2019-06-24 12:26] suresh777 opened #104 "Cache location provided is not valid"
ClientConfigurationError: The cache location provided is not valid. Provided value: sessionStorage. Possible values are: localStorage, sessionStorage.

This error is located at:
    in AzureAD (at App.js:36)
    in App (at renderApplication.js:35)
    in RCTView (at View.js:45)
    in View (at AppContainer.js:98)
    in RCTView (at View.js:45)
    in View (at AppContainer.js:115)
    in AppContain

[2019-06-24 13:33] suresh777 commented on #95
I am also having same error can you tell me how did you resolve
const config = {
  auth: {
    authority: 'https://login.microsoftonline.com/4c2c8480-d3f0-485b-b750-807ff693802f/v2.0',
    clientId: '3333937f-6033-4143-826a-0ebed8d3252d',
    redirectUri: 'ditaskhr://adp.apps.testapp1'
  },
  cache: {
    cacheLocation: "localStorage",  // here i am getting error ****
    storeAuthStateInCookie: t

[2019-06-24 13:35] suresh777 commented on #95
I am also facing same issue, can you help me how can i resolve cacheLocaation error

const config = {
  auth: {
    authority: 'https://login.microsoftonline.com/',
    clientId: '3324324324g-4233-54545-2345a-3453453d’,
    redirectUri: ’sampleApp://sample.apps.ap'
  },
  cache: {
    cacheLocation: "localStorage",
    storeAuthStateInCookie: true
  }
};

const authenticationParameters = {
  scope

[2019-06-24 14:22] jodonnell commented on #95
`import { CacheLocation } from "react-aad-msal";`
`cacheLocation: ("localStorage" as CacheLocation),`

this works.  i think this is because type widening, the cacheLocation key "localStorage" is widenened to type string so you need to force the cast to be of CacheLocation.  I'm no expert though!

[2019-06-26 06:39] koriner commented on #102
I'm experiencing an issue with this as well. My app passes the token to another API which validates the JWT. However after an unknown amount of time, the token is expired but the front-end app is never notified of a refresh so never updates the user's token.

[2019-06-26 18:55] DocCaliban opened #105 "Forgot password seems to be unimplemented or missing from documentation"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce
Configure Azure with a signin sign up user flow
Configure Azure with a Password reset user flow
Look for documentation on where to set the forgot password user flow

Results: Nothing found

### Any log messages given by the failure
Not applicable

### Expected/desired behavior
I would expecty full documentation on h

[2019-07-01 19:36] DocCaliban commented on #104
@suresh777  Their documentation should be updated
You can change your code like follows
[code]

[2019-07-02 14:00] double0scotty commented on #102
Any word on this, or any suggestions on what to do to work around it? I've just been bitten by this on first logon, and I end up with a blank app (due to it returning null in render). Refresh the page and everything is fine.

[2019-07-02 16:32] double0scotty commented on #102
OK I have forked this and attempted to work out a fix myself. Looking in MsalRedirectAuthProvider.ts there's an Empty callback by default. Adding the following seemed to work for me:
[code]
However, I haven't had much time to check/test this and what other implications there maybe.

[2019-07-02 21:38] robb1ssell commented on #102
I implement the fix you mentioned, but got an error when it refreshed saying that this.acquireTokens is not a function.

[2019-07-02 22:01] double0scotty commented on #102
That's strange the `this` context should be preserved.

Check out my change here: https://github.com/double0scotty/react-aad/blob/master/src/MsalRedirectAuthProvider.ts

The function acquireTokens is defined in the parent MsalAuthProvider. I got the idea for this fix from the MsalPopupAuthProvider as it's used in a similar way there.

[2019-07-18 13:33] aslanovsergey opened #106 "ForceLogin and children"
**Describe the bug**

This https://www.npmjs.com/package/react-aad-msal#force-login approach seems to have a bug

It renders children component before I am authenticated

[2019-07-18 13:37] aslanovsergey commented on #106
Excuse me, I'm wrong, used self-closed AzureAD tag. Please close this item

[2019-07-18 17:21] #106 closed

[2019-07-18 17:24] AndrewCraswell commented on #104
Closing this in favor of #95. This should be a good first issue to fix, unless someone can submit a fix for it I will see if I can find some time in the next few weeks. I'll be out of town frequently though so it will be delayed.

[2019-07-18 17:24] #104 closed

[2019-07-18 17:27] AndrewCraswell commented on #102
@double0scotty, would you mind submitting a PR with your fix? I'd like to get it in quickly, but I'm busy for the next few weeks. If you can get something in I can take time to test and push out a new release.

[2019-07-18 18:25] AndrewCraswell commented on #97
There is this I found in the official [MSAL.js repo](https://github.com/AzureAD/microsoft-authentication-library-for-js):

I'm not very well versed on how multiple resources work, so I'm not sure if this is helpful...

[2019-07-19 08:30] AndrewCraswell commented on #95
After a bit of investigation, it seems all the types involved are defined on `msal`, so I believe this issue originates from there. I myself do not get any of these errors, so it's a little strange to me. Can anyone repro this issue by just running the sample?

I think at the least it's fair to update the documentation since there's clearly an issue being experienced.

This should be a good first

[2019-07-19 09:09] AndrewCraswell opened #108 "Add a withAuthentication() Higher-Order Component"
There are some scenarios where authenticating using the `AzureAD` component is inconvenient. An example would be a component that returns the <AzureAD> from the `render()` function but also queries data from an API which requires the authentication to happen first. Ensuring the proper order of events can be cumbersome, and often means moving the `AzureAD` component into a parent component, and hav

[2019-07-19 09:11] AndrewCraswell commented on #108
I already have code for this which my team has been using for a few sprints in a couple of projects. Since we're finding a lot of scenarios to reuse it, it makes more sense to have it as part of this repository. I will create a PR sometime next week and submit for people to review. Definitely looking for some serious feedback about any issues in approach here...

[2019-07-19 09:18] AndrewCraswell commented on #95
I included the changes to the documentation described in this issue with my latest PR (#107) since I was editing the docs anyway. This isn't a resolution, but hopefully, it will help others who are implementing this component for the first time.

[2019-07-19 10:23] jodonnell commented on #95
Hi @AndrewCraswell , this definitely seems like type widening to me, as this also works for me:
`
  const cacheLocation: 'localStorage' = 'localStorage';
  const config = {
    auth: {
      authority: (process.env.REACT_APP_AUTHORITY as string),
      clientId: (process.env.REACT_APP_AAD_APP_CLIENT_ID as string),
    },
    cache: {
      cacheLocation,
      storeAuthStateInCookie: true,
    },

[2019-07-19 10:28] jodonnell commented on #95
the documentation looks good to me, but i suppose you could take your pick from these alternative syntaxes as well.  personally i don't think i see any clarity benefits of one over another.

[2019-07-19 10:33] jodonnell commented on #95
[code]

that also works for me, so i suppose you could export this enum for usage, this definitely has a clarity benefit, but then you guys need to redefine this on top of msal's definition.

i think ideally the msal author might add this.

[2019-07-19 21:25] AndrewCraswell commented on #95
Yeah, I'm just hesitant to redefine the `CacheStorage` definition since that type comes directly from MSAL. Having a second definition could trip people up, since depending on the one they use the functionality will be different. The best case would be for MSAL library to convert their type to an `enum` as it should have been from the beginning.

[2019-07-20 22:37] mrosenquist commented on #98
I managed to get this to work.

There is a line in the MS MSAL documentation that says to disable te authority checking.
https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin

The config now adds the following _validateAuthority_:
[code]

Change your REACT_APP_AUTHORITY
from:
`REACT_APP_AUTHORITY=https://login.microsoftonline.com/tfp/_<tenant-subdomain>_.onmicrosoft.com/_<user-flow>

[2019-07-22 19:02] jodonnell commented on #95
seems like at some point this will make it through to msal
https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/851

[2019-07-23 15:34] sameerag commented on #95
Merged to dev today, we are releasing a patch sometime soon, the release should have this fix. We appreciate the contribution @jodonnell, Thankyou.

[2019-07-23 15:46] jodonnell commented on #95
Awesome, thank you.

[2019-07-25 11:07] AndrewCraswell commented on #102
@robb1ssell, @hernan-almeid, @koriner, @double0scotty: As it turns out my team ran into some issues that ended up being related to this problem. I read through the MSAL source and found that in many cases, they perform a page refresh after being redirected back to the app. I believe this was cloaking these issues, as it was described above that a page refresh would indeed correct the issue by grab

[2019-07-25 11:39] AndrewCraswell commented on #95
Thanks for pushing this through, @jodonnell. I've updated my PR #107 which was already updating the `msal` package, but I've set it to get the latest release with your fix. I've also removed the update to the documentation I had done.

[2019-07-25 11:42] jodonnell commented on #95
Ugh, sorry @AndrewCraswell, but the change got reverted.  https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/851

[2019-07-25 18:44] AndrewCraswell commented on #105
My understanding is that MSAL hasn't fully addressed the forgot password workflows at the moment. My knowledge could be outdated, but last I read the most reasonable approach seemed to be logging the user out when their token failed to be renewed.
https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/issues/9

I'm not very familiar with this workflow though, so I'm no

[2019-07-25 21:28] AndrewCraswell commented on #85
@step-lee are you still working on that PR? Looks like someone else is itching to get that into MSAL, and it would make a great improvement to this project :)

[2019-07-25 22:07] #108 closed

[2019-07-25 23:42] sameerag commented on #95
Yeah. we have issues with TS projects with this change. If you have a different approach, feel free to push a new PR or one of us will get to this soon.

[2019-07-26 13:56] AndrewCraswell commented on #102
PR was merged and a release was created. I've tested in my app and it seems resolved. Since there were several different types of problems reported, please let me know if the latest release does not resolve your issue, and we can reopen, or open a new issue specific to the particular edge case.

[2019-07-26 13:56] #102 closed

[2019-07-28 21:48] koriner commented on #102
Thanks @AndrewCraswell - I'll let you know if I notice any more issues

[2019-08-06 07:33] andnilsson opened #113 "Can´t access UserAgentApplication directly"
**Describe the bug**
According to docs the underlying MSAL UserAgentApplication object should be accessible, but for me it´s undefined

**To Reproduce**
[code]

**Expected behavior**
authProvider.UserAgentApplication should not be undefined

**Screenshots**

![image](https://user-images.githubusercontent.com/25838327/62520058-106b0900-b82d-11e9-8f7a-d78c315fe8cb.png)

**Additional context**
I´m tr

[2019-08-08 07:04] AndrewCraswell commented on #113
Looks to me that the docs are incorrect.

[code]

Here you are creating a Factory but you are not getting the underlying AuthProvider itself. You can call this method to create an actual auth provider:

[code]

Let me know if this doesn't work for you. I will submit a PR to update the docs. I also want to do some testing because it seems the `getAuthProvider()` factory method will create a new ins

[2019-08-08 07:06] AndrewCraswell commented on #113
After looking at the code, I can see that the `getAuthProvider()` method is returning the auth provider as the wrong type, which means you can't access the `UserAgentApplication` class member because it's not defined in the return type. I've submitted PR #114 to fix the issue and update the documentation.

This was a good catch.

[2019-08-08 07:39] AndrewCraswell opened #115 "Expose login(), logout(), etc. to the children of <AzureAD> component using FaCC or HoC pattern"
**Is your feature request related to a problem? Please describe.**
Today, the only way to get access to certain functions or properties is to use the callback function props approach to authenticating the user (`authenticatedFunction`, `unauthenticatedFunction`, etc). This isn't very flexible and doesn't make for very concise code.

**Describe the solution you'd like**
These values could be passed

[2019-08-08 07:44] AndrewCraswell commented on #115
I'm fairly busy for the next month or so, but I'm hoping to take a stab at this feature in the near future. Would love to get some feedback on the approach before I start on it.

[2019-08-13 21:05] AndrewCraswell commented on #85
Quick update: the MSAL JS team has picked this issue up again and pursuing a fix for a future release.

[2019-08-13 21:31] AndrewCraswell opened #116 "If LoginType is Redirect, fallback to redirect if acquireTokenSilent fails"
**Describe the bug**
We've done a good job to separate the Redirect behavior from the Popup behaviors by splitting this logic into separate provider classes. However, the base `MsalAuthProvider` implements the `acquireToken` logic in a way that does not take the `LoginType` into account. If the `acquireTokenSilent` method fails, the fallback is always 'acquireTokenPopup'.

[code]

For comparison,

[2019-08-13 21:48] AndrewCraswell opened #117 "React should be listed as a peerDependency"
**Describe the bug**
Because `React` is listed as a dependency, it often gets bundled twice for consumers who already use `React`. Since this library is inherently coupled with `React` and anyone consuming it will already have it installed, I think we need to move the dependency to a `peerDependency`.

[2019-08-13 21:49] AndrewCraswell opened #118 "Clean the repository to remove unused traces of create-react-app"
**Is your feature request related to a problem? Please describe.**
When this project was bootstrapped it looks like it used `create-react-app` to get off the ground running. However, what we're doing now is actually quite simple, just using `tsc` to compile the files, add sourcemaps, typings, and output to `dist` folder.

**Describe the solution you'd like**
We can remove all the `webpack` cruft a

[2019-08-13 21:51] AndrewCraswell commented on #118
I self-assigned this because I already have a PR that does most the work. I just want to take some time to experiment with using Rollup to build the output libraries rather than relying on `tsc`.

[2019-08-14 01:37] step-lee commented on #85
I'm working with the MSAL team to re-implement my changes. (It's really out-of-date due to their refactors) One of their core team member is going to drive the process. Hopefully we have good news to share soon. Meanwhile, can I ask what specific bug this change will solve? It will help with the conversation. Is it the page refresh?

[2019-08-14 02:27] AndrewCraswell commented on #113
The PR has been merged and a release kicked off. Thanks for the issue!

[2019-08-14 02:27] #113 closed

[2019-08-14 02:44] AndrewCraswell commented on #97
I'm going to close this issue because it really ought to be asked in the [MSAL.js repository](https://github.com/AzureAD/microsoft-authentication-library-for-js/) since this is about functionality in their library.

Reading through the MSAL code I did discover comments that explained the `FrameworkOptions` a little bit:

[code]

Apparently, you can provide a list of `unprotectedResources` which ar

[2019-08-14 02:44] #97 closed

[2019-08-14 02:50] AndrewCraswell commented on #85
Yes, ultimately page refresh issue, which we should track in a separate issue. I am going to close this issue as we've just merged a PR to expose the `UserAgentApplication` and it's functions (documented (here)[https://github.com/syncweek-react-aad/react-aad#accessing-the-underlying-msal-useragentapplication-object]).

@RaySheikh, if this doesn't work for you we can reopen the issue. But you shoul

[2019-08-14 02:50] #85 closed

[2019-08-14 20:04] AndrewCraswell commented on #116
I have a PR I'm working on for this work item. Will probably submit by next week.

[2019-08-17 18:37] AndrewCraswell commented on #116
FIxed as part of #119. I had to rewrite this part of the library for exposing a method to get a fresh token for API calls, and I unwittingly fixed this too xD

I've also added a new public method to change the `LoginType` after the auth provider has been created. This is important because previously the only way to get a different login method was to create a new provider. But having multiple inst

[2019-08-17 18:37] #116 closed

[2019-08-21 09:55] suresh777 opened #120 "How to do logout and forget user from microsoft page"
I am using react aad plugin it is working fine. But if i want to login with different user, i need to logout and forgot user from microsoft page otherwise different user can login with existing credentials. To avoid this is there any api that removes account from microsoft page

[2019-08-21 21:02] AndrewCraswell commented on #120
Are you saying you need to forget the user so that it doesn't attempt to auto-signin with the previous credentials? Essentially, you want to give the user an opportunity to change accounts?

[2019-08-28 10:04] seshunareshbonthula opened #124 "Can you please publish with the latest code changes?"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

### Versions

### Mention any other details that might be useful

[2019-08-28 11:20] suresh777 commented on #120
In Microsoft login page you can see previously logged in users, i want to remove those users if do logout from application. But forget user and logout options available in Microsoft login page

[2019-08-28 21:37] ByungkwonJeon commented on #103
any update ?

[2019-08-30 01:53] AndrewCraswell commented on #124
Is there something specifically you're looking for? The latest code to be pushed creates quite a few functional changes, so we need to rewrite the documentation and add a few more items.

I'm hoping to get the documentation rewritten over the weekend, so hopefully early next week the changes are reviewed and in.

[2019-08-30 02:16] AndrewCraswell commented on #120
Can you help me understand the use case for this? My first thought is you're asking the identity provider to override the wishes of the user to remember specific accounts, which doesn't make much sense. Especially when that would mean a user who has logged into application A and application B would lose their saved login information for both apps when logging out of application A.

If you're just

[2019-08-30 04:23] AndrewCraswell commented on #103
@ByungkwonJeon are you experiencing this issue in the sample as well? Would love to get a copy of your configurations to try to reproduce this on my side.

[2019-09-02 18:58] Nemeczek commented on #44
Hi, small protip when using Axios:
`axios.defaults.headers.common['Authorization'] = "bearer " + token;`

But more importantly, how you handle expired/stale token? Msal.js recommends using acquireTokenSilent which "refreshes" token or just gets it from the cache.
If I get a token from the store or local storage I do not know if a token is fine.  Am I misunderstanding it or it is a valid case?

[2019-09-02 19:05] AndrewCraswell commented on #44
You are exactly right. Currently refresh tokens need to be fetched using the MSAL methods, which you can access on the auth provider.

There has already been a PR merged to automatically update the store with refreshed tokens, and give a `getAccessToken()` method that retrieves from the cache, or refreshes the token if it's expired. The code is expected to be pushed by tomorrow, there are just som

[2019-09-03 05:26] #115 closed

[2019-09-03 07:12] suresh777 opened #128 "Getting silent token even after password change in AD"
Actually i am checking changing password feature. I changed my password in azure directory, After that i tried silent token it is providing token. But it should throw some error like authentication failed. Is it expected behaviour?

[2019-09-03 18:06] AndrewCraswell commented on #44
FYI this release was pushed last night. You can refer to completely rewritten docs to understand how to fetch a access token before making a web request:
https://github.com/syncweek-react-aad/react-aad#refreshing-access-tokens

[2019-09-04 02:46] AndrewCraswell commented on #124
Latest changes were pushed in the morning. Please see the rewritten README for detailed instructions.

[2019-09-04 02:46] #124 closed

[2019-09-04 07:20] #120 closed

[2019-09-04 07:23] AndrewCraswell commented on #98
It s sounds like that's the correct workaround. I'm closing this -- if there are still issues we can reopen again.

[2019-09-04 07:23] #98 closed

[2019-09-05 08:01] favetelinguis commented on #103
Im getting the same issue with my code. Below is the console output after a successful login. This console output is then looped many times.

[code]

Here is my configuration:
[code]

my index.js
[code]

[2019-09-06 00:54] AndrewCraswell commented on #128
My sensibilities tell me the token should fail, but I would recommend asking this question on the MSAL library since this is more specific to how Azure Active Directory works. It may be expected.
https://github.com/AzureAD/microsoft-authentication-library-for-js

[2019-09-06 00:54] #128 closed

[2019-09-06 01:03] DigitalMystery opened #129 "Question - Force Logout"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

Call the logout function in the auth provider / user agent application

### Any log messages given by the failure

### Expected/desired behavior

Currently calling the auth provider user agent application logout function.  This does redirect to the logout screen, but just asks which account do you want to log out o

[2019-09-18 20:08] vincentlerouvillois commented on #44
I am having the exact same issue as @jrichmond4

Context :
- Using 'https://login.microsoftonline.com/xxxxxx.onmicrosoft.com' as authority
- Using 'openid' as scope
- Using the generated AccessToken against an ASP.NET Core 2.2 API configured as following :
![image](https://user-images.githubusercontent.com/24421476/65182069-78b52900-da2e-11e9-942d-34bfecc3dbb4.png)

[2019-09-23 09:45] bj00rn opened #131 "AzureAD forceLogin=false is ignored due to login being triggered during MaslAuthProvider initialization"
**Describe the bug**

Thanks for a great lib 🙇

MaslAuthProvider wil attempt to authenticate upon initialization. https://github.com/syncweek-react-aad/react-aad/blob/4c51ef39e626f715d2038ecc84258dc05c37cc8c/src/MsalAuthProvider.ts#L231

This renders the `AzureAD` component `forceLogin` prop redundant since login is always triggered even before the component is mounted.

**To Reproduce**

I a proj

[2019-09-23 18:52] AndrewCraswell commented on #44
@jrichmond4 does the resolution described by @vincentlerouvillois solve your problem? There will definitely be errors if the API requires the IdToken to authorize rather than the Access Token.

If the resolution is the same, let's find a way to update the documentation so this is more clear.

[2019-09-23 18:54] AndrewCraswell commented on #131
Thanks for the detailed description. Let me try to tackle this in the evening and see if we can deploy a fix.

[2019-09-23 19:10] AndrewCraswell commented on #131
This may actually be expected behavior. The initialization process is supposed to only check the cache to see if the user has already logged in, and if so, refreshes the token. This is the scenario where the user already has an existing session. `forceLogin` is meant to initiate a new login if an existing session is not present.

It sounds like you are storing the login in `localStorage`, meaning

[2019-09-23 20:36] amitvig22 commented on #44
@AndrewCraswell can someone update the home page example to call the correct method. It should say

[code]

[2019-09-23 21:21] AndrewCraswell commented on #129
Seems this is related to an open issue on MSAL. The login process currently does not support UX-less signout due to security issues related to denial of service attack possibilities:
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/735

[2019-09-23 21:27] AndrewCraswell commented on #44
@amitvig22 Hmm yes the readme definitely needs to be updated, but that is the correct method being called in the example. APIs generally require Access Tokens for authorization, and IdTokens are used for authentication. So the correct modification I think is the following:

`Authorization: 'Bearer ' + token.accessToken`

Probably could reword the documentation to be more clear that the example is

[2019-09-24 08:31] bj00rn commented on #131
@AndrewCraswell thanks for the explanation, cleared up my understanding of what is going on. closing

[2019-09-24 08:31] #131 closed

[2019-09-24 12:14] francesco-clementi-bip opened #133 "Cannot check AuthenticationStatus"
Hi,
I'm using your demo to get the AuthenticationStatus:
`
import { AzureAD, AuthenticationStatus } from 'react-aad-msal';
...
<AzureAD provider={authProvider} forceLogin={true}>
  {
    ({login, logout, authenticationStatus, accountInfo}) => {
      if (authenticationStatus === AuthenticationStatus.Authenticated) {
        return (
          <p>
            <span>Welcome, {accountInfo.account.nam

[2019-09-24 21:29] mbharrat commented on #133
Hi @francesco-clementi-bip ,

I have the same wonky behavior but with accountInfo ... it looks like there's some Global type of authenticated state and even though you clear out cache/local storage of your own app, you can still be logged into O365.

For me this seems to work

[code]

I have a ternary that makes sure that accountInfo & accountInfo.account exists.

[2019-09-25 07:58] francesco-clementi-bip commented on #133
Hi @mbharrat ,
are you sure that your code is working?
From the documentation the first two variables are login and logout function:
`
{login, logout, authenticationState, accountInfo}
`
accountInfo is working with no problem for me.

[2019-09-25 13:41] aslanovsergey opened #134 "Access token for second scope"
Hello,

I have a Azure AD App for SPA and 2 Azure AD Apps for API, SPA app has permissions to call both apis and I do it through setting scopes property. Unfortunately it's not allowed to get access token for both apis with one request so two requests must be made with according scope.

Is this possible to achieve this scenario with react-aad-msal library and what would be the best way to get acce

[2019-09-25 22:54] AndrewCraswell commented on #133
Hey @francesco-clementi-bip, the `AuthenticationStatus` actually should be `AuthenticationState`. The readme had this error some time back and it was amended, you can see the changed example here:
https://github.com/syncweek-react-aad/react-aad#azuread-component

I hadn't thought to push a release of npm package for those who are consuming the readme from the package directly. I'll remedy this ver

[2019-09-26 02:36] AndrewCraswell commented on #129
Updating this issue with the following referenced bug:
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/490

MSAL does not control this functionality, and it seems it's by design. I'm going to close this issue since there's nothing to be done about it.

[2019-09-26 02:36] #129 closed

[2019-09-26 02:40] #133 closed

[2019-10-02 06:08] Eebo78 opened #137 "Does not work inside an iFrame"
**Describe the bug**
A clear and concise description of what the bug is.
Adding the react application to an html site as an iFrame does not render anything. Removing the AzureAD tag the application is rendering

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you

[2019-10-02 07:17] AndrewCraswell commented on #137
There are known limitations with executing the app from within an iframe. The MSAL team is currently working to improve the flows, and there are some open PRs for this.
https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/975

Depends on what scenario you are trying to accomplish. I don't see any sample configuration or what the error is, so difficult to say if this is what's ca

[2019-10-02 15:39] bj00rn opened #139 "Support catching if the user has cancelled the authentication"
**Is your feature request related to a problem? Please describe.**
Is it possible to catch errors that occur during the auth process?

For example if the user has cancelled the auth process by clicking `back`. Right now authenticationState in the AzureAD component is just set to unauthenticated upon returning from the auth redirect.

**Describe the solution you'd like**
Some form of state reflecti

[2019-10-02 20:41] AndrewCraswell commented on #139
Yes this should be possible, and it's a great suggestion. It should throw an error if it's cancelled that can be caught, but not sure how that's working at the moment.

[2019-10-03 06:12] jelohipolitocruz commented on #139
Hi I'm experiencing this exact thing right now, It would be nice to have an error code for the cancelled authentication also on the other hand for the unauthorized users for example

![image](https://user-images.githubusercontent.com/18521848/66103211-59350900-e5b5-11e9-8a7f-d1c7980957ba.png)

It could be stored on the authenticationState if the user is unauthorized to access the app itself becaus

[2019-10-03 15:31] bj00rn commented on #139
Here is a PR

[2019-10-04 09:27] bj00rn opened #141 "Error when devDependencies are installed -> Hooks can only be called inside the body of a function component."
**Describe the bug**
In the current dependency configuration the sample app to fail with an obscure message:

`Hooks can only be called inside the body of a function component. (https://fb.me/react-invalid-hook-call)`

The error seems to be related to the library and the sample app installing different versions of react.

Maybe [resolutions](https://yarnpkg.com/lang/en/docs/package-json/#toc-resol

[2019-10-04 20:13] LTrain opened #143 "Sample not working? ELIFECYCLE error"
Hello - tried to run the base sample - but I hit errors, I didn't see an active issue and I'm currently retracing my steps and I can't seem to resolve it on my own. Followed the directions exactly and I consistently get failures.

### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

git clone https://github.com/syncweek-react-aad/react-aad.git
cd ./react-aad
Build th

[2019-10-04 20:13] LTrain commented on #143
Log file contents
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'start' ]
2 info using npm@6.9.0
3 info using node@v10.16.3
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle react-aad-msal-samples@1.0.0~prestar

[2019-10-04 20:17] LTrain commented on #143
Pilot error - long day nothing to see here.

[2019-10-05 18:35] AndrewCraswell commented on #141
Thanks for creating the issue.

This is a known issue with React at the moment. You can use this hack to get around the error for testing:
facebook/react#13991 (comment)

It's caused because Hooks won't work when multiple versions of React are loaded. This usually wouldn't happen, but the sample project has React, and references the library which uses React as well. React team is in progress of de

[2019-10-05 21:04] AndrewCraswell commented on #139
Release for 1.0.3 which includes PR #140 has been released to NPM. Thanks for the good work :)

[2019-10-05 21:04] #139 closed

[2019-10-05 21:06] #44 closed

[2019-10-05 21:07] AndrewCraswell commented on #44
Closing because we likely won't produce a sample with a separate Web API app. Unless someone wants to contribute the Web API bit, I could modify the sample app to make a request.

[2019-10-05 21:09] AndrewCraswell commented on #143
[code]

Seems you installed the library dependencies, but didn't run `npm install` for the sample.

[2019-10-05 21:10] #143 closed

[2019-10-06 01:41] LTrain commented on #143
I definitely ran NPM install on the sample. (Or I'm sure I did)
I'll take it from the top and will try again Thx.

[2019-10-06 15:39] LTrain commented on #143
Yup that was it - not I'm getting the hooks error but I saw the posting/workaround on that.  Thank you.

[2019-10-06 16:01] LTrain commented on #141
Andrew are you referring to the pre-start hack on the other facebook thread? And if so what parameters should we use for npm-link-shared?

[2019-10-06 16:14] AndrewCraswell commented on #143
Yeah, I think we should update the documentation in this because it seems the React team won't have a suitable workaround anytime soon

[2019-10-06 16:16] LTrain commented on #143
That would be great actually - I actually just posted a question about the shared link.

[2019-10-06 16:29] AndrewCraswell commented on #141
It's @dmart914's solution. In this case Package A would be the library itself, and package B is the sample app.

[code]

[2019-10-06 18:19] Nemeczek commented on #44
What kind of sample backend do you need?
I created the smallest AspCore 2.2 Backend using Bearer Tokens I could think of. Is that useful?
[https://github.com/Nemeczek/react-aad/tree/master/sample/backend/aspnetcore-webapi-b2c-implicit-flow/AspNetCoreB2C](url)

[2019-10-06 18:24] AndrewCraswell commented on #44
Yes actually, that sounds like what we need. We will need to add it to the project and modify the documentation to describe setting it up. I think that area of the documentation regarding the sample app needs to be improved anyway though

[2019-10-07 13:20] bj00rn commented on #141
Can't we just simply remove the `react`/`react-dom` dependencies from subproject `sample` and let them resolve to whatever versions are installed the parent project?

[2019-10-07 16:49] AndrewCraswell commented on #141
Yeah actually that seems like a suitable solution for now. The library used to be on a much older version of React, but it was recently upgraded to something that supports React Hooks so this should work for us.

[2019-10-07 17:36] AndrewCraswell commented on #141
I'll do some testing this evening I think and see if I can push a release since this is blocking contributors from testing their changes.

[2019-10-08 08:17] bj00rn opened #145 "react-scripts resolves wrong version of jest from parent project"
In the current dependency configuration ´react-scripts´ throws an error on start complaning about wrong version of jest.

This is caused by another vesion of jest being resolved from the parent project.

Error message:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. cd `project root`
2. run `npm install`
3. cd sample
4. run `npm install`
5. run `npm start`
6. See error

**Expected be

[2019-10-08 08:17] bj00rn commented on #141
related issue https://github.com/syncweek-react-aad/react-aad/issues/145

[2019-10-08 08:20] bj00rn commented on #141
If you guys would consider moving to `yarn`, dependency issues could be resolved by using [workspaces](https://yarnpkg.com/lang/en/docs/workspaces/).

[2019-10-08 13:01] bj00rn commented on #145
https://github.com/facebook/create-react-app/issues/7578

Seems that this will be an issue as long as `jest` is installed in the parent project, given that react-scripts will always show this warning (even if `jest` resolves correctly)

Solution is to make sure that `jest` version match that of `react-scripts`

[2019-10-08 16:01] #145 closed

[2019-10-08 16:08] AndrewCraswell commented on #141
Yeah, moving to Yarn is reasonable to me. I have no problems with that :)

[2019-10-08 23:02] AndrewCraswell commented on #141
Pushed a release that included this fix. Closing for now.

[2019-10-08 23:02] #141 closed

[2019-10-09 08:36] bj00rn opened #147 "Feature request: Migrate to yarn workspaces"
**Is your feature request related to a problem? Please describe.**
The current dependency configuration causes problems when different versions of packages are installed in the `root` project, and the sub project `sample`.

See issues #141 #145

Yarn has ways to mitigate this using workspaces.

**Describe the solution you'd like**

Move to using `yarn` with the [workspaces](https://yarnpkg.com/lan

[2019-10-15 21:46] amitvig22 commented on #137
@AndrewCraswell looks like the open PR was accepted and merged.

[2019-10-15 21:48] AndrewCraswell commented on #137
Yeah, just waiting for a release. They have a lot of stuff getting merged at the moment so I suspect the release won't be inmediate

[2019-10-15 21:56] amitvig22 commented on #137
I have a specific scenario where i would like to do something like this, and thats how i stumbled on this. Will stay tuned for updates.

[2019-10-16 18:13] rshahhutch opened #149 ""Token renewal operation failed due to timeout.""
**Describe the bug**
I am using react-aad-msal with AzureAD B2C. I have configured authProvider with b2c changes

const config = {
  auth: {
    authority: 'https://<Tenant>.b2clogin.com/<Tenant>.onmicrosoft.com/B2C_1_google',
    clientId: ApplicaitonID,
    redirectUri: 'http://localhost:3000/home',
    postLogoutRedirectUri: 'http://localhost:3000/home',
    validateAuthority: false

  },
    c

[2019-10-17 00:34] AndrewCraswell commented on #149
I've seen this same issue surfaced today as well for other users. Seems there's an issue logged for it already on MSAL side of things:
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1009

[2019-10-18 11:03] jelohipolitocruz opened #150 "When requesting a new token, the page refreshes"
**Describe the bug**
Everytime I get a new accessToken the whole page refreshes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
cache accessToken will be used and not refresh the page

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followin

[2019-10-18 21:03] AndrewCraswell commented on #150
Does this happen with the sample app? Can you show the code you're using or provide a repo for verification?

[2019-10-18 21:05] AndrewCraswell commented on #149
Received an update from MSAL that the team is investigating this and they are working with teams who are experiencing similar timeouts.

[2019-10-21 03:21] rshahhutch commented on #149
Thanks Andrew

[2019-10-21 04:03] jelohipolitocruz commented on #150
Sorry I was out for a while, I will create a sample app but for now just a small explanation currently have this app that is using react aad and passport azure ad on the backend so we need to use accessToken to communicate from front to back end.

Here's our authProvider code
[code]

And here's how we implemented it in our App.js (Entry point of react)
[code]

[2019-10-21 04:21] rshahhutch opened #151 "Dispatch actions on login."
Question - I wanted to dispatch actions once the user logs in for the first time. Where can I do this?  the authenticatedFunction in Azure AD seems to be deprecated. Is it possible to override AAD_LOGIN_SUCCESS to dispatch actions? Can you provide a suggestion?

[2019-10-21 06:51] jelohipolitocruz commented on #150
We figured it out. sorry it's our own fault,

We are adding the openid scope into our requests that's why it's requesting a new token everytime.

thank you!

[2019-10-21 06:51] #150 closed

[2019-10-22 12:38] mledwards commented on #95
Having the same React / Not TypeScript issue out of the box when defining `cacheLocation: "localStorage"`

[2019-10-22 13:07] mledwards opened #152 "Is it possible to get this working with server side rendering?"
I'm using next.js and on first server side page load am getting the error `The cache location provided is not valid. Provided value: localStorage. Possible values are: localStorage, sessionStorage.` because localStorage is only available on the client.

Any help would be much appreciated. Thanks.

[2019-10-24 17:28] andrewfabrizi commented on #95
@mledwards I'm having the same problem (with JS not TS) within an iframe. I've tried localStorage and sessionStorage with a Popup. Any ideas?

[2019-10-24 19:05] jrichmond4 opened #154 "forceLogin not working"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

Windows 10

### Versions

### Mention any other details that might be useful
I left off the render for the case where the user was unauthenticated and there was not error because I don't need any type of login screen. Whe

[2019-10-27 18:47] AndrewCraswell commented on #154
Can you share the relevant code for the component and your configuration?

[2019-10-27 19:47] AndrewCraswell commented on #151
Yeah, I think a better way of handling this would be to subscribe to the native MSAL API methods. The `MsalAuthProvider` class extends the MSAL `UserAgentApplication` class, the public event handlers can be subscribed to. It's been awhile since I've looked at the code, but here is where I would start investigating:

[https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/m

[2019-10-28 16:01] jrichmond4 commented on #154
`ReactDOM.render(
    <AzureAD provider={authProvider} forceLogin={true} reduxStore={basicReduxStore} >
        {({login, logout, authenticationState, error, accountInfo}) => {
            if (authenticationState === AuthenticationState.Authenticated) {
                return (
                    <Customizer {...FluentCustomizations}>
                        <Fabric>
                            <

[2019-10-28 21:04] AndrewCraswell opened #155 "Decouple the Redux logic into a new project"
**Is your feature request related to a problem? Please describe.**
The logic for tracking authentication progress, success, and failure and dispatching Redux events to store the info into a Redux store has become very tightly coupled to the authentication logic itself. This is bad for the general complexity of the library and means there's lots of extra code that is not relevant to users who aren'

[2019-10-30 12:29] mledwards commented on #95
@andrewfabrizi My issue was that I'm using next.js which has server side rendering, so when Azure brings me back to the callback the server side is firing which doesn't have access to the local store.

I haven't done it yet, but my work around will be to make the callback page simply trigger next link click to a client side page.

Not sure if this helps your problem, but may help others.

[2019-10-30 14:27] andrewfabrizi commented on #95
@mledwards it is strictly a static client-side website and I'm only having an issue when the page is rendered within an iframe.

[2019-10-30 16:09] farhantahir commented on #152
Facing the same issue I think this library is only built for working on client side.

[2019-10-31 04:24] andylbrummer commented on #105
I just ended up writing this code to hack my way around resetPassword handling for the redirect loginType:

`  let providerFactory = null;
  if (window.location.href.indexOf('AADB2C90118') > -1) {
    window.localStorage.setItem('resetPassword', true)
    providerFactory = new MsalAuthProvider(
      siteData.msal.config,
      siteData.msal.authenticationParameters,
      LoginType.Redirect
    )

[2019-11-01 07:05] teo-intl-pk opened #158 "AADSTS700054: response_type 'id_token' is not enabled for the application."
**Describe the bug**
When I login i get the following error in console:
[ERROR] ServerError: AADSTS700054: response_type 'id_token' is not enabled for the application.
Trace ID: 319ffdb2-6725-46b3-a301-9e9a38280800
Correlation ID: 632b6596-9b6a-4dab-98e3-f8b9948fc21e
Timestamp: 2019-11-01 06:36:21Z

**Expected behavior**
It should return the JWT Token after login

**Screenshots**
![image](https://

[2019-11-01 13:27] #158 closed

[2019-11-05 18:06] francesco-clementi-bip opened #159 "Infinite loop with already authenticated users"
the first time that an authenticated user (in azure ad) access my site, it will go through an infinite loop during the microsoft login, but the site will work fine if the user get in with an incognito tab.

If the user will be disconnected he will be able to access the site without the incognito tab e then it will work without problem.

My index.js:
[code]

config:
`cache: {
    cacheLocation: "lo

[2019-11-07 22:04] rajarameshvarma commented on #149
@AndrewCraswell Now that MSAL team says a fix is available in beta package, is this something you can update this package with to test? Thanks

[2019-11-08 05:30] jhaankit opened #160 "Login issue on 2nd attempt if user relaunch the application"
I am getting an error, if user hits wrong credentials on 1st attempt and then relaunch the application and try to re-login.

**To Reproduce**
Steps to reproduce:
1. Launch the url https://foo.com (your app url address).
2. App will be redirected to login page for AD authentication.
3. Enter a wrong credentials.
4. you will get error message "Your account or password is incorrect. If you can't reme

[2019-11-08 11:10] fabianmeyer commented on #159
I was running into similar issues when using `forceLogin={true}`. Try disabling it to investigate further.

[2019-11-08 22:01] AndrewCraswell commented on #160
Thanks for filing this, I have an idea what might be causing it. Will try to take a look this weekend.

[2019-11-08 22:08] AndrewCraswell commented on #151
Going to close this since I think it's been addressed. I did open #155 to create a better system for integrating with store management systems, including others besides Redux.

[2019-11-08 22:08] #151 closed

[2019-11-08 22:22] AndrewCraswell commented on #149
I pushed a new version with the latest beta 3. I'm still seeing reports from others that it's not resolved though. For my scenario, we learned we were using the getIdToken() token which was requesting a new token too frequently and the requests were being blocked. The answer was to (a) rely more on access tokens or (b) implement better Id Token caching on our client-side.

[2019-11-08 23:38] AndrewCraswell commented on #159
I wonder if this might be a scenario where an unhandled error occurs, so authentication fails. Then because `forceLogin` is true it tries to authenticate again? You're using `localStorage` so the cache will persist beyond the session. Can you check what is in the cache, then clear it and try again?

If this fixes the issue then I would be interested to see what was in the cache so we can try to co

[2019-11-09 10:11] francesco-clementi-bip commented on #159
Actually I configured the cacheLocation with sessionStorage and this resolved the issue, but I'm going to try again with localStorage and will let you know.

[2019-11-14 23:59] heymega commented on #159
I can reproduce this.

1. Navigate to my app.
2. "Force login" automatically navigates to the azure AD login page.
3. DO NOT LOGIN.
4. Navigate back to my app

You'll be presented with a white screen and the only way to fix it is to delete local data or use incognito mode.

[2019-11-25 10:07] jhaankit commented on #160
Hello team, anyone have any solution for the above issue.
This is showstopper issue and we do not have any solution for it.
Help will be really appreciated.
Thanks in advance.

[2019-11-25 19:34] AndrewCraswell commented on #160
Hey @jhaankit, apologies for the silence here. There are a few issues we've been working with the MSAL folks to find reasonable solutions. This is one issue that is still open on their end. Until something more official can be adopted the best workaround is to intercept these errors and manually clear the cache. You can see how one user solved this here:
https://github.com/AzureAD/microsoft-authen

[2019-11-25 19:36] AndrewCraswell commented on #154
Apologies, it's been a long time since I followed up. I've been pretty overloaded with other project work.

Can you repro this in the sample using your code? I tried copying and pasting what you had and it seemed to work for me. You might check that you're on the latest version of the library. Otherwise, if you can repro it in the sample and provide a branch for me, I'd be happy to test it and dia

[2019-11-25 19:42] AndrewCraswell commented on #149
I pushed the latest Beta 4, which is supposed to resolve this issue I believe. For my own projects, I am no longer encountering this issue so I can't speak for others.

In our situation, we had been using IdTokens to secure our own APIs since we owned the app, the backend, and the API. We found, however, that making too many requests for IdTokens (we validate the token before making API requests)

[2019-11-25 19:54] AndrewCraswell commented on #152
To be honest, this isn't a use case I know of anyone having tested. The error makes sense because when the AzureAD component renders, MSAL will check the cache for an active session. I see two approaches here:

1. We could create some sort of strategy to defer the check until rendered on the client. At the moment I don't have the bandwidth for this, so I would need some help implementing such a so

[2019-11-26 05:47] AndrewCraswell commented on #160
Btw, I've been told there will be a new MSAL release hopefully tomorrow which will aim to resolve this. I would guess before December this library will be updated to utilize it.

[2019-11-26 05:48] jhaankit commented on #160
Thank you for your quick response.
I will try workaround provided by you.

Sorry, mistakenly i closed the ticket. I reopened it.

[2019-11-26 19:55] rajarameshvarma commented on #149
I have updated my project and see this error

![image](https://user-images.githubusercontent.com/7087542/69667814-8ea12480-1043-11ea-83df-abdee924f236.png)

so not able to request access token so far. any suggestions?

[2019-11-26 20:05] AndrewCraswell commented on #149
I would post a new issue on the MSAL repo to make sure you're not dealing with an edge case they aren't aware of. Since you're still able to repo, I'll keep this issue open.
https://github.com/AzureAD/microsoft-authentication-library-for-js

[2019-11-26 20:10] rajarameshvarma commented on #149
sorry, I will take it back.. I was able to get this working by adding my local domain as authorized Javascript origins.

[2019-11-26 23:53] AndrewCraswell commented on #159
@heymega You're describing an issue that partially fits this, but also is encountering this bug:
https://github.com/syncweek-react-aad/react-aad/issues/160

The issue is you can't have two logins occurring at the same time for security reasons. The MSAL team is aware of this, and diligently working to add better handling in these scenarios. It's being tracked here and a fix should be released shor

[2019-11-26 23:55] AndrewCraswell commented on #159
I do see an issue in our library code where if an error occurs during login (and forceLogin=true) the error is ignored and this can cause an infinite loop. I expect to have some PRs to fix this in the coming week.

[2019-11-27 00:09] AndrewCraswell opened #164 "List MSAL library as peerDependency"
**Is your feature request related to a problem? Please describe.**
Because of `msal` being listed as a dependency of this library, we encounter several issues:

1. Consumers don't have the ability to determine which version of `msal` they want to run. This creates more breaking changes than necessary, and prevents some consumers from updating to later versions when they want to depend on an older

[2019-11-27 00:11] AndrewCraswell commented on #164
This work has begun in PR #163.

[2019-11-27 06:07] heymega commented on #159
That's great news Andrew 👍

[2019-11-27 07:41] #164 closed

[2019-11-27 19:33] rajarameshvarma commented on #149
okay.. this is becoming more confusing now.. I started getting the error again.. so I have updated react-aad-msal to 2.1.1 and did some testing.

# with msal@1.2.0-beta.4
Both google and microsoft account are throwing errors.

Microsoft account:
![image](https://user-images.githubusercontent.com/7087542/69753963-93c8a700-1109-11ea-89c8-97aca1ea67eb.png)

Google account:
![image](https://user-image

[2019-11-27 19:38] AndrewCraswell commented on #149
Hmmm, yeah, I was hoping listing the `msal` library as a `peerDependency` would give the flexibility to roll back to a specific version or beta of `msal`. I've been feeling dirty about releasing a new version of our library Everytime someone requests the latest preview or beta of `msal`.

Could you create an issue on the `msal` GitHub and reference it here for tracking? Just be aware there is a co

[2019-11-28 08:20] KonstantinDinev opened #169 "Login doesn't work on mobile devices but works on desktops"
**Describe the bug**
Login procedure works well on any desktop or laptop machine but fails on tablets or phones.

**To Reproduce**
Steps to reproduce the behavior:
1. Login on a computer works
2. Login on any mobile device is sending you to the error login page
3. In authProvider the loginType is set to Redirect instead of Popup

**Expected behavior**
To log to the web application on a mobile the

[2019-12-03 01:18] AndrewCraswell commented on #169
Can you see what error is being raised? And which version of the library are you using? Please also share what your configuration options look like. Thanks!

[2019-12-03 12:42] KonstantinDinev commented on #169
Hi @AndrewCraswell! The error that I'm receiving on any mobile device while logging is:
ClientAuthError: Token renewal operation failed due to timeout!
It's strange because I'm only receiving this on a mobile device.

Library:    "react-aad-msal": "^1.0.4",
Platform:  iOS 12.4.3 - iPad Air
Browser:  Chrome, Version 77.0.3865.103

[code]

[2019-12-06 21:47] AndrewCraswell opened #171 "Migrate sample to Typescript w/ Hooks"
**Is your feature request related to a problem? Please describe.**
The sample app is an easy way to manually test changes before deploying changes. However, since the sample is not in TypeScript, the manual tests are not managing to capture static typing issues. This has caused a few releases where the proper interfaces are not being exposed properly.

**Describe the solution you'd like**
This is

[2019-12-10 20:03] AndrewCraswell commented on #169
Can you try using the latest version? There's a few breaking changes that you will likely need to update, but there were fix.

You should also use the latest version of MSAL (1.2.0-beta.5) as they have applied fixes for some of these issues.

[2019-12-10 20:06] AndrewCraswell commented on #160
This seems to have been resolved in MSAL release 1.2.0-beta.5. Since MSAL is listed as a peerdependency, you can update this separately.

[2019-12-10 20:08] AndrewCraswell commented on #159
These issues should have been addressed in the latest release of the library. There are some breaking changes which is why there was a major release update, and a number of follow up hot fixes applied. I'm closing this issue for now, but please let me know if you encounter any questions when upgrading.

Unfortunately these changes were rushed much faster than I would have liked due to immediate ne

[2019-12-10 20:08] #159 closed

[2019-12-10 20:12] AndrewCraswell commented on #160
I take that back, MSAL version 1.2.0 just dropped this minute. Things move fast around here :)

[2019-12-10 20:13] AndrewCraswell commented on #159
As a side note, I would also recommend updating to the latest version of the `msal` version, `1.2.0` which just released.

[2019-12-10 21:07] alankopetman commented on #160
Unfortunately, me and my team are still seeing this issue after updating MSAL :(. I can confirm that it's still the issue where auth state is set to "InProgress" when returning to the original app from the microsoft login page without authenticating.

[2019-12-11 09:11] anupong-s opened #176 "login with invalid_state_error"
Unable to login and found **invalid_state_error** and status **InProgress** in localstorage.
This error found on production. My website deploy on IIS server but normal in localhost.

Steps to reproduce the behavior:
1. Go to 'Login Page'
2. Click on 'Login button'
3. My website redirect to azureAD and typing username/ password.
4. When login success, The azureAD will redirect to 'login page'
5. I

[2019-12-11 15:07] enisjahic opened #177 "Children of AzureAD component are rendered while unauthenticated if forceLogin is set to true"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce
[code]

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

macOS Mojave
### Versions

### Mention any other details that might be useful
From the documentation:

From the quote above, I expect that the children of the AzureAD component never render when unauthenticated, bu

[2019-12-11 15:20] enisjahic commented on #177
Fixed on 2.2.4, sorry for not checking before :)

[2019-12-11 17:17] AndrewCraswell commented on #176
Can you please share what version of the library you are using, the configuration you have, and if applicable, which version of MSAL you have installed?

[2019-12-11 18:10] AndrewCraswell commented on #154
Closing this since similar issues were resolved in the newest version of the library, and seems you are still on 1.01. If you're still encountering this after updating, please let me know and I will have a look.

[2019-12-11 18:10] #154 closed

[2019-12-11 18:13] AndrewCraswell commented on #137
Hey @amitvig22, seems MSAL released version 1.2.0 this week, which includes fixes for iframe scenarios. Could you try using the latest versions of `msal` and `react-aad-msal` and let me know if you continue having issues?

The MSAL 1.2.0 release notes can be found here:
https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-JS-1.2.0

[2019-12-11 18:13] #137 closed

[2019-12-11 18:17] AndrewCraswell commented on #103
Issues related to the token timeout were resolved in the latest version of `react-aad-msal` and `msal`. I'm closing this as others have indicated it is resolved, but please let me know if you continue experiencing issues on the latest versions.

[2019-12-11 18:17] #103 closed

[2019-12-11 22:05] sandygk commented on #176
I believe this is a duplicate of [issue 160](https://github.com/syncweek-react-aad/react-aad/issues/160)

[2019-12-11 22:08] AndrewCraswell commented on #160
@alankopetman Can you confirm which version of `react-aad-msal` you are using?

[2019-12-12 01:46] anupong-s commented on #176
Right now, I use version 1.13, I updated the latest version 2.x.x but found error "Module not found: Can't resolve 'msal' in <my project path>"

In my project not install MSAL, I only install react-aad-msal (version 1.1.3).

[2019-12-12 01:50] anupong-s commented on #176
I have some additional question.

I would like to ignore authenticate some page. it can access but no need to login before.
What should I do config in route ?

[2019-12-12 02:12] AndrewCraswell commented on #176
You will need to install the latest version of `msal` as well. `msal` has been listed as a `peerDependency` so that people can choose which version of `msal` they want to use, in case they need to rollback or use a more recent version.

You will also encounter several breaking changes when creating the instance of `MsalAuthProvider`. You can review this section of the docs to review:
https://githu

[2019-12-12 02:13] AndrewCraswell commented on #176
As far as the routes, it's possible but highly depends on what you are using to setup routes in React. You could try using the `withAuthentication` higher order component wrap your page components or routes that require authentication, and leave it off for routes that don't require.

[2019-12-12 12:38] KonstantinDinev commented on #169
Hi @AndrewCraswell, I've updated to the latest version of MSAL 1.2.0 and I've managed to log in the app from an Android phone using a Chrome browser. The problem still persists on iOS mobile devices and the error message that I'm receiving now is:
ClientAuthError: Login_In_Progress: Error during login call - login is already in progress.

Any further help would be appreciated.

[2019-12-12 13:37] anupong-s commented on #176
@AndrewCraswell Thank you very much. My project works fine after installed 'MSAL' but I have some problem when redirect to my login page after login success.

After login success, In componentDidMount() will get accountInfo but it not found. I need to press login button again or refresh browser then the system will be redirected to next page. (see my code below).

async componentDidMount() {
    l

[2019-12-12 15:46] alankopetman commented on #160
@AndrewCraswell Sorry it looks like we were on an older version (1.1.3). We just updated to the current version (2.2.4) and we're not seeing that issue anymore. However, we still see this error, but it isn't causing our app to lock up and not redirect to the login page anymore.
![image](https://user-images.githubusercontent.com/14204379/70726646-69abe300-1ccc-11ea-81d9-80f3f13c8332.png)

[2019-12-12 17:23] alankopetman commented on #160
@AndrewCraswell I think I know what our issue is. Due to the architecture of our app we had no need to render a login button so we called the login function in the render props cb.
[code]
So we moved the logic to another component that performs the login on mount and we're not having those issues anymore.
[code]

I don't think this is related to this issue anymore. We saw similarities and assumed

[2019-12-12 18:34] rmillener commented on #134
Hi Aslan,

You should be able to pass your scopes to getAccessToken:

`    const tokenScopes = {
      scopes: ["api://340d9448-d52b-456f-b451-d2e6e798231c/User.Impersonisation"]
    };
    const tokenResponse = await this.props.provider.getAccessToken(tokenScopes);
    const accessToken = `Bearer ${tokenResponse.accessToken}`;
`

[2019-12-12 21:29] AndrewCraswell commented on #176
If you can give me access to a repro I might be able to help debug what's going on. I suspect it's because you are calling `getAccountInfo()` in the `componentDidMount` event. After authentication is successful, the account still needs to be stored into the cache before it can be retrieved. This may cause a race condition, where your component is trying to fetch the details before they are fully a

[2019-12-12 21:30] AndrewCraswell commented on #176
I think you bring up a great point though. We need samples around routing to demonstrate how to do this effectively.

[2019-12-12 21:31] AndrewCraswell commented on #177
Thanks, this sounds like a regression. Should be a quick fix, I can take a look at it this evening and have a hot-fix pushed out relatively soon.

[2019-12-13 05:01] AndrewCraswell opened #178 "When Id Token expires, the tokenRefreshUri is used as the redirectUri when logging in"
**Describe the bug**
When an Id Token is being renewed in the background it uses the `options.refreshTokenUri` defined when instantiating the `MsalAuthProvider`. However, if the background renewal requires the user to login again (ex: when the token expired) then the same parameters used to `acquireTokenSilent` will be handed to the `loginRedirect` or `loginPopup` method. This means, that the new

[2019-12-13 05:07] anupong-s commented on #176
@AndrewCraswell It work now. I workaround by getAccountInfo on '/auth' page.
Step to run
1. Go to 'Login Page'
2. Press 'Login button'
3. Execute Login
4. Azure redirect to 'http://localhost:3000/auth' (Same config on azure authentication)
5. In '/auth' page, I call getAccountInfo() one time but not found accountInfo. (I think, The state update)
6. react-aad-msal redirect to 'Login Page'
7. compon

[2019-12-13 06:22] #178 closed

[2019-12-13 06:34] #177 closed

[2019-12-13 06:46] AndrewCraswell commented on #177
This has been fixed in `2.2.5`.

[2019-12-13 08:09] xavisegura opened #183 "Types not available"
Component does not provide types

![image](https://user-images.githubusercontent.com/18615795/70782864-47779b00-1d88-11ea-8586-a74db9190bc9.png)

[2019-12-13 08:14] AndrewCraswell commented on #183
Thanks for filing, PR #182 should resolve this. I will push a hotfix shortly.

[2019-12-13 08:19] AndrewCraswell commented on #183
Hotfix was released in version `2.2.6`

[2019-12-13 08:28] xavisegura commented on #183
Thanks!

[2019-12-13 08:38] AndrewCraswell commented on #134
Yes, I believe the solution provided above should resolve this. I'm going to close for now, but if this is still an issue I can reopen.

[2019-12-13 08:38] #134 closed

[2019-12-13 08:47] AndrewCraswell commented on #183
Actually, I missed one field, try version `2.2.7`

Just tested and it passes type checking in a project consuming it.

[2019-12-13 08:47] #183 closed

[2019-12-14 00:21] #176 closed

[2019-12-15 14:34] anupong-s opened #185 "Unable to use tinymce-react and my component call componentWillUnmount when I go to page first time."
**Describe the bug**
I unable to use tinymce-react in my project when I wrap `<AzureAD>` with my route (Please see below picture). I observe that my containers and components  called `componentWillUnmount` event though I access that page first time. If I misunderstand, `componentWillUnmount` will be called that when I leave that page or route to other page.

![image](https://user-images.githubuser

[2019-12-18 13:47] maike9 opened #186 "Unsafe JavaScript attempt to initiate navigation for frame with origin...."
I have been prototyping a React app using this component based on Create-React-App.  Upon initial launch the user is prompted to login and can do so successfully.   After not interacting with the browser for an extended period to time, when the page is refreshed the errors occur that are detailed below.

Unsafe JavaScript attempt to initiate navigation for frame with origin XXX from frame with URL

[2019-12-19 07:26] hrc7505 commented on #105
I ended up with following solution,
[code]

[2019-12-19 07:33] AndrewCraswell commented on #186
It means MSAL has caught an error. You should be able to click the link in the error on the console to see what it is.

[2019-12-19 08:56] jsomdev commented on #186
I am having the same issue.

How to reproduce:
- Run / Open the web app
- Authenticate with AAD
- Close the app and wait until the token has expired.
- Open the web app again.
- The error is caught.

[code]
My index.tsx
[code]

[2019-12-19 13:01] hbermani opened #187 "Azure B2C support on IE11"
**Describe the solution you'd like**
I am currently using react-azure-adb2c library to successfully integrate Azure AD B2C into my react app. This works well for Chrome and Edge but I have noticed breaking issues on IE11 despite using polyfills and updating package.json browser compatibility.

I am looking at alternatives at the moment and wondered if react-aad works on IE11?

Thank you.

H.

[2019-12-19 19:06] AndrewCraswell commented on #187
It should work. For reference, I currently use it for a couple apps that need to run in IE 11.

[2019-12-19 19:07] AndrewCraswell commented on #186
Could either of you paste the links in the error here? They should give you the full error details.

[2019-12-19 19:08] #187 closed

[2019-12-20 10:51] hbermani commented on #187
Thank you Andrew, appreciate the prompt response.

[2019-12-20 14:13] hbermani commented on #187
For information for anyone trying to integrate this library in a React App with .NET Core backend and wanting compatibility with IE 11. Make sure you do the following:

-In index.js, add these imports as your first three lines
import 'babel-polyfill';
import 'react-app-polyfill/ie11';
import 'react-app-polyfill/stable';

-In package.json, make sure you add 'ie11' to your browser lists in productio

[2019-12-22 20:24] ThomVanL opened #188 "Safari Unhandled Promise Rejection: TypeError: undefined is not an object (evaluating 'response.tokenType')"
**Describe the bug**
Whenever I try to get an access token with LoginType Redirect in Safari 13, I end up receiving the following error: Unhandled Promise Rejection: TypeError: undefined is not an object (evaluating 'response.tokenType').

I'm getting the same behavior with the sample app, LoginType Popup however does seem to work.

Additionally I found this error in the session state:
- msal.omit

[2019-12-23 20:21] gabriel-kohen-jdas commented on #186
Have the same error errors. The verbose messages I see are:

[code]

[2019-12-31 11:46] BladedGhost opened #189 "Getting Unhandled Rejection (TypeError): this.getAccount is not a function when I call await authProvider.getAccessToken()"
I am converting from react-azure-adb2c to react-aad-msal, I have all the code set as per the example but I seem to be getting a "Unhandled Rejection (TypeError): this.getAccount" once I call the getAccessToken or the getIdToken function,
`Unhandled Rejection (TypeError): this.getAccount is not a function
▶ 15 stack frames were collapsed.
Module../src/authConfig.js
C:/Projects/Productizer/Productiz

[2020-01-03 19:32] AndrewCraswell commented on #186
@gabriel-kohen-jdas, this is the URL to the error message you're receiving:
[code]

[code]

Does this make sense? Are you passing a `login_hint` at all? Otherwise there may be something going on in the library. If there is a cached session it does try to pass the `login_hint` to `msal`, and it's possible there is an issue with that process. Perhaps the session on the `msal` side is no longer valid

[2020-01-03 19:35] AndrewCraswell commented on #188
Thanks for the detailed issue! Can you share you configuration being used with the library? Interested in what sort of caching methods you're using. At a minimum, there is at least a null reference exception occurring in the code you highlighted which can be resolved. The `AADSTS50058` code being received will take some more investigation.

[2020-01-03 19:38] AndrewCraswell commented on #189
Can you verify which version of `react-aad-msal` and `msal` you are using? I know you mentioned latest, but we ask because we frequently see people who haven't installed one of the `peerDependencies` at all.

[2020-01-06 12:05] BladedGhost commented on #189
Seems like that was the issue, msal package was not installed, weird, I didn't see that this was a peer dependency...

I have another issue now though, but I'll probably have to create a new thread.

[2020-01-06 16:08] #189 closed

[2020-01-07 12:43] YoannDe opened #192 "reference issue in typings/interfaces/IAuthProvider.d.ts"
**Library versions**
- `react-aad-msal`: 2.3.1
- `msal`: 1.2.0

**Describe the bug**
Cannot find 'src/enums' in typings/interfaces/IAuthProvider.d.ts

**Expected behavior**
It should be able to find the path, the src folder doesn't exists in the dist folder. The path is invalid.

**To Reproduce**
Steps to reproduce the behavior:
1. Run npm i react-aad-msal
2. In Vs code , there is the following er

[2020-01-07 19:32] AndrewCraswell commented on #192
Thanks! I'll see if I can get a fix for this pushed out ASAP after office hours.

[2020-01-08 19:46] ThomVanL commented on #188
Sure thing, I was using a production app when I reported the issue but I'm seeing the same thing happen in the sample app. Again though, this is only occurring with the redirect flow.

 So here is the config from the sample app.

[code]

[2020-01-09 21:50] rshahhutch opened #193 "when the login button is clicked it redirects to the AD login page and if we hit the browser back button and then click login button again it does nothing and doesn't redirect."
Hi!

We are using react-aad-msal package for Azure AD B2C Authentication.  The LoginType is set to Redirect. The issue is, when the login button is clicked it redirects to the AD login page and if we hit the browser back button and then click login button again it does nothing and doesn't redirect.

The steps to reproduce are
1) Launch the url (http://localhost:3000/)
2) Click on the Login button.

[2020-01-10 06:43] tomalex0 commented on #192
@AndrewCraswell  is this change good enough to fix  the issue ?
https://github.com/syncweek-react-aad/react-aad/compare/master...tomalex0:patch-1?expand=1

[2020-01-10 07:12] AndrewCraswell commented on #192
@tomalex0 Really close, I think there might be a couple other imports in other files that import from "src/" path. If you double check those I will accept a PR and release tonight :)

[2020-01-13 23:48] nhance commented on #192
Looking for this asap

[2020-01-13 23:49] nhance commented on #192
Can we merge and release this?

[2020-01-14 16:57] tomalex0 commented on #192
Create a PR https://github.com/syncweek-react-aad/react-aad/pull/194

Was able to  make sample app running from my local based on two reference changes.

[2020-01-14 18:04] #147 closed

[2020-01-14 18:56] AndrewCraswell commented on #192
Merged and released in version 2.3.2.

[2020-01-14 18:56] #192 closed

[2020-01-15 09:31] Nexith opened #195 "ClientAuthError: Token calls are blocked in hidden iframes"
**Library versions**
- `react-aad-msal`: 2.3.1
- `msal`:1.2.0

**Describe the bug**
Sometimes the following error is displayed in Chrome Developer tools console.
`index.js:1406 [ERROR] ClientAuthError: Token calls are blocked in hidden iframe`
It appears 500+ times and then
`MsalAuthProvider.js:75 Uncaught (in promise) RangeError: Maximum call stack size exceeded`
Usually happens after a page relo

[2020-01-15 16:54] BdN3504 commented on #195
We also are seeing this behavior in `react-aad-msal` 2.3.2

[2020-01-15 17:03] zaytsevfuu commented on #195
+1 for

"msal": "1.2.0",
"react": "^16.9.0",
"react-aad-msal": "2.3.2",

[2020-01-16 07:24] simonpal commented on #195
Same here

"msal": "1.2.0",
"react": "^16.12.0",
"react-aad-msal": "2.3.1",

[2020-01-16 22:39] amitvig22 commented on #137
Thanks @AndrewCraswell, i was OOF i will give this a try and see if it works for a teams app.

[2020-01-17 13:29] bertin commented on #186
I am having the same issue.
I wrap my component with the AzureAD component from react-aad-msal library. If a user is not logged in the popup dialog appears as it should and closes when the user has entered username and password. If the user is logged in my component is visable. I even see the AAD_LOGIN_SUCCESS redux action with an IdToken. So all this works as expected.
The problem appears when I

[2020-01-17 20:11] AndrewCraswell commented on #186
@bertin Can you confirm what the link is from the error you're seeing? There are a number of errors that might be encountered, but the link will provide the full error.

[2020-01-17 21:14] AndrewCraswell commented on #188
I just realized this bug filed on MSAL repo:
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1205

Seems this may be a known issue for Safari browsers until the next release includes the new Auth Code Flow w/ PKCE.

[2020-01-18 02:20] nhance commented on #195
Error is being caught here: https://github.com/syncweek-react-aad/react-aad/blob/8db0b8cd9293f1667b71ef9351de22bb2cd41ac1/packages/react-aad-msal/src/MsalAuthProvider.ts#L152

[2020-01-20 10:55] bertin commented on #186
@AndrewCraswell, Not quite sure what you are asking for, but I receive the same error message as @maike9. Please see my error below.
![erro_message](https://user-images.githubusercontent.com/1412542/72721167-b57b6300-3b7b-11ea-851f-185502ba7efd.PNG)

[2020-01-20 11:02] bertin commented on #186
Clearification: I downloaded the example project (git clone https://github.com/syncweek-react-aad/react-aad.git), installed it and run the example project. This example project works all fine.
The problem I see is when I incorporate the same solution in my own project. I just can't figure out where to put the code to "allow-top-navigation". I can't figure out why the example project is running fin

[2020-01-20 12:41] jasonsoden commented on #152
This also happens for any GatsbyJS build.

You can get it to work by checking if the window is undefined before creating an instance of MsalAuthProvider and if so, handle your rendering differently.

[2020-01-20 13:34] AndrewCraswell commented on #186
See this issue for reference:
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1199

MSAL is likely trying to tell you there is an error in your configuration. Some time ago in these sorts of situations it would have forced a redirect to an error page describing the issue. However, this wasn't a good solution for some SPA apps, so they prevented the redirect from occuring.

[2020-01-20 14:54] bertin commented on #186
That was not so easy to understand. When I click the url I get the following
![error2](https://user-images.githubusercontent.com/1412542/72735967-20896180-3b9d-11ea-91fa-82409c7fb7b7.PNG)

[2020-01-20 17:20] thisisbrianstewart commented on #186
@bertin -- I was helping out on the issue that @AndrewCraswell referenced.  It looks like your issue is slightly different.  In case you are still stuck -- your AAD app registration needs OAuth 2.0 Implicit Grant flow enabled.  There are a few ways to do this (Powershell, Graph API, az cli, portal, etc).

If you prefer CLI, you can update your app reg to allow oauth2 implicit grant flow with this

[2020-01-20 19:32] tomalex0 commented on #195
Saw this thread in `msal`
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1156

[2020-01-20 21:10] iquitwow commented on #195
I reverted back to older versions until the problem went away.
This is what is working for me now.

"msal": "1.1.3",
"react": "^16.12.0",
"react-aad-msal": "1.1.3"

[2020-01-21 09:54] bertin commented on #186
Adding Implicit Grant flow and using the correct reply uri fixed the issue for me.
I now use the readt-aad-msal recommendation about a separate empty auth.html file for my redirectUri and tokenRefreshUri.
Thank you @AndrewCraswell and @thisisbrianstewart for quick answers.

[2020-01-21 17:42] AndrewCraswell commented on #186
I will leave this issue open until MSAL adds a better error message, so others can find the actual error.

[2020-01-21 22:12] amitvig22 commented on #137
@AndrewCraswell my specific scenario is a teams react app. I tried updating and using the latest versions of `msal` and `react-aad-msal` and i still hit issues, i believe this is not necessarily because of `msal` but has more to do with how teams has setup electron for teams apps. Are you aware of examples of teams app authentication via the library ?

[2020-01-22 02:27] PathToLife commented on #195
Took me a while, but through process of elimination worked out that you need `auth.html`

 in the public folder.

### Error Message:

Without it:
![Screen Shot 2020-01-22 at 3 23 08 PM](https://user-images.githubusercontent.com/12622625/72860306-50ff0600-3d2b-11ea-9f85-c7c23bfad29e.png)

### Fix:

Add this to your public folder:
![Screen Shot 2020-01-22 at 3 20 45 PM](https://user-images.githubuse

[2020-01-22 05:28] PathToLife commented on #195
Nexith, in your case, you're probably have some sort of infinite authProvider.somthing() loop because it is inside an <AzureAD>authProvider.somthing()</AzureAD> Provider.

so it's like this

- <AzureAD> load
- authProvider.somthing()
- <AzureAD> detect change, que load
- <AzureAD> load
- authProvider.somthing()
- <AzureAD> detect change, que load
- <AzureAD> load
- ...

And example that is most li

[2020-01-22 11:40] jhaankit opened #197 "ERR_CONNECTION_CLOSED On Web App Loads"
**Library versions**
- `react-aad-msal`: 2.3.2
- `msal`: 1.2.1

**Describe the bug**
After upgrading to react-aad-msal version 2.3.2 from 2.1.1, sometimes facing ERR_CONNECTION_CLOSED issue on web-app url loads.
I was using msal version 1.1.3 earlier and never faced this issue.
Clearing the site data/cache works.

**Expected behavior**
Web app should be loaded on hitting the url address on browser

[2020-01-22 16:41] NextStar31 opened #198 "GetAccessToken add 2 pages to my history and break my navigation"
**Library versions**
- react-aad-msal: 2.3.2
- msal: 1.2.1
- react: 16.8.1
- react-router: 3.0.5
- @types/history: 3.2.2

**Describe the bug**
At each "getAccessToken" call it's add 2 navigations to my history which totally breaks my navigation ( I need 3 clicks on "back" button to come back to the previous page).

I don't really understand what is happening and i didn't find any ideas or solution

[2020-01-24 12:27] Nexith commented on #195
I tried this and updated to `msal 1.2.1` and `react-aad-msal 2.3.2` adding in the option 'tokenRefreshUri'
[code]
and now I get the following error instead: `Unsafe JavaScript attempt to initiate navigation for frame with origin 'https://localhost:3000' from frame with URL 'https://*'. The frame attempting navigation of the top-level window is sandboxed, but the flag of 'allow-top-navigation' or '

[2020-01-25 01:55] NathanNZ commented on #155
It seems the Redux Store is only used for dispatching actions, and I don't see any benefit with storing internal state within the store in future. Do you think it would be an acceptable suggestion to replace the store prop on the AzureAD component with a generic dispatch method?

This could allow people who are using Redux or other patterns that use actions or event based logic flows to pass in th

[2020-01-25 02:00] AndrewCraswell commented on #155
@NathanNZ I really like this idea. Should be relatively easy to implement too.

[2020-01-28 13:52] christiandw opened #199 "MsalAuthProvider.getAccessToken does not use input parameters on InteractionRequiredAuthError"
**Library versions**
- `react-aad-msal`: [2.3.2]
- `msal`: [1.2.1]

**Describe the bug**
When MsalAuthProvider.getAccessToken is invoked with input AuthenticationParameters containing scopes & authority and the initial aquireTokenSilent fails with InteractionRequiredAuthError, the following aquireTokenPopup triggered from loginToRefreshToken does not use the same AuthenticationParameters (defaults

[2020-01-29 11:15] BdN3504 commented on #195
Using this approach works for us. Thank you!

[2020-02-03 17:35] rosenjcb commented on #195
At first I was experiencing the same issue but then I implemented  @Nexith solution and the problem seemed to go away, but I still have issues. Problem is that I still get this error `ClientAuthError: Token calls are blocked in hidden iframe` *sometimes*. I notice that when the token expires and I need to fetch a new token, I will actually get a CORS exception and I will have to refresh the page a

[2020-02-03 19:04] AndrewCraswell commented on #199
Thanks for submitting a PR! I had noticed the same but haven't got some time to do some more diligent testing around this. I'm leaving out of the country for a few weeks beginning Wednesday, but I'll try to get a release with this fix out before that.

[2020-02-03 19:05] AndrewCraswell commented on #198
Thanks for submitting this. This may be a MSAL issue, but I will try to do some testing to identify root cause. My suspicion is that the iframe which MSAL uses to acquire the token is adding entries to the history.

[2020-02-03 21:19] AndrewCraswell commented on #185
These look like generic React issues. Since this is an old issue, I'm going to close. But if you have a minimalist repo that can demonstrate the issue I will reopen and take a look at what is going on.

[2020-02-03 21:19] #185 closed

[2020-02-03 21:20] #186 closed

[2020-02-03 21:23] rosenjcb opened #201 "Test suite failed to run"
**Library versions**
- `react-aad-msal`: ^2.3.2
- `msal`: ^1.2.1

**Describe the bug**
When I run `npm run test` I get an error:
[code]

**Expected behavior**
When I run tests, I don't expect an error. My tests should just run successfully. I should note that failing tests are testing components which import the authProvider file. (I add some additional functionality in there to complete partially

[2020-02-04 03:25] rosenjcb commented on #197
I've noticed really weird and intermittent issues like this. It's super odd and often not reproducible.

[2020-02-04 08:16] AndrewCraswell commented on #198
@NextStar31, are you able to repro this with the sample app? I've tested and don't see additional entries added after calling the `getAccessToken()` method. Are you able to provide a repository that exhibits the behavior?

[2020-02-04 08:44] AndrewCraswell commented on #199
I made some changes to this after merging your PR. There were issues caused when using a `refreshTokenUri` pointing to a blank HTML file when refreshing the Access Token. If the refresh fails, we want to call the correct login method, but don't want to make sure that the redirect Uri is set to an actual page that can be redirected to, rather than the blank HTML file.

[2020-02-04 08:44] #199 closed

[2020-02-04 08:51] AndrewCraswell commented on #193
Is this still an issue and can you share which version of `react-aad-msal` and `msal you are using`? I'm unable to repro this in the sample app, so if it's possible to provide a repository or branch with a minimal repro then I can look into this a bit deeper.

[2020-02-04 19:45] AndrewCraswell commented on #195
Can you share the full text from this error? I know it's unclear, but MSAL is trying to redirect to an error page that usually references some issue in your configuration. If you navigate to the second URL it should give you a more descriptive error.

[2020-02-04 19:48] AndrewCraswell commented on #195
@rosenjcb, It's a very useful clue that you're still seeing intermittent issues. I just pushed a release with a fix which resolves an issue where an incorrect `redirectUri` was sometimes being used due to some bad reference issues. I suspect this could have been causing you to hit some edge cases that results in this error, even though you're correctly using the `refreshTokenUri` and the blank `au

[2020-02-04 19:54] AndrewCraswell commented on #201
I need to do more research on this. We're using async/await in the library, which will cause issues if you're Jest is not using the correct polyfills. I tend to avoid shipping polyfills, since it's the developer who determines which platforms the code needs to execute on. I can pacakage all the polyfills with the library, but it will add an additional 100kb to the build, and most of it will be unn

[2020-02-04 21:43] rosenjcb commented on #201
@AndrewCraswell My google-fu was weak on this one. Kept running into problems with Babel and I was  unable to figure out the issue other than it being related to async/await. I'll have to figure out how to do this. I don't even have a babel config (I just use CRA) so I'll have to figure out how that works.

[2020-02-05 00:19] FizzBuzz791 commented on #201
I've hit this with a vanilla CRA and the solution was to add `import "regenerator-runtime";` as the first line in my various test files that were failing. Not ideal, but I'm not sure how else to do it without ejecting and I don't want/need to do that at this point.

[2020-02-05 00:22] AndrewCraswell commented on #201
Can't you just list `regenerator-runtime` in your Best config under the `setupFiles` property? Since it was Just that was originally injecting this, it seems to make the most sense to manually ingest it via Jest.

[2020-02-05 00:29] FizzBuzz791 commented on #201
Yeah, I understand it's not actually this project that is broken. We should probably be discussing this in a CRA issue instead.

I don't think any of the [available overrides](https://create-react-app.dev/docs/running-tests/#configuration) support injection?

[2020-02-05 00:32] AndrewCraswell commented on #201
I think this is the one you need, which isn't described in the CRA docs as far as I can tell, but should be able to be used all the same:
https://jestjs.io/docs/en/configuration#setupfiles-array

[2020-02-05 00:47] FizzBuzz791 commented on #201
Nah, no dice :(

![image](https://user-images.githubusercontent.com/2747764/73800580-10f05680-47f4-11ea-993f-5d99cf445bc2.png)

[2020-02-05 00:49] AndrewCraswell commented on #201
Hmmm other option is to use a setupTests file:
https://create-react-app.dev/docs/running-tests/#srcsetuptestsjs-1

[2020-02-05 00:53] FizzBuzz791 commented on #201
Yep, that's a much nicer solution than adding the import to each test that's affected. I wasn't aware of that, thanks!

[2020-02-05 00:54] #201 closed

[2020-02-05 11:24] Nexith commented on #195
There was a missing port number for localhost in the configuration for the Redirect URIs that seemed that have caused the error. Now running `react-aad-msal@2.3.3` and `msal@1.2.1` with the `auth.html` file and `tokenRefreshUri` option pointing towards it, everything works fine.

[2020-02-05 20:42] rosenjcb commented on #195
So with @AndrewCraswell update of `2.3.3` I have experienced a significant drop in errors. The only point in which I see any `ClientAuthError` or CORS Exception is when a login is in progress (this basically only happens when a token expires and it attempts to fetch a new one). This is what my stacktrace looks like:
[code]

The work around behind this is to render a page saying during the `InProgr

[2020-02-06 13:48] KonstantinDinev commented on #195
I have experienced the same errors as those mentioned above and added everything mentioned as required to get rid of the errors. Now I'm with the following versions: "react-aad-msal": "^2.3.3" and "msal": "^1.2.1". The only error that I'm receiving right now is during the Login process: [ERROR] ClientAuthError: Token calls are blocked in hidden iframes. However it logs in but it is still annoying

[2020-02-06 20:20] BlackFenix2 commented on #171
Sounds like something i can handle. i can attempt to port this project to typescript and add hooks.

also, props for using yarn workspaces! i can organize the tooling away!

[2020-02-06 22:04] AndrewCraswell commented on #171
@BlackFenix2 Organizing the tooling would be a huge improvement too! I've been tripping all over it 😂

[2020-02-07 12:30] badeyjohnson opened #203 "Cache daemon/application secret auth token"
**Is your feature request related to a problem? Please describe.**
I have an app which when I don't want have a user sign in while testing. I have client credentials grant type (application secret) oauth2 flow set up which provides a token, but I cannot work out how to store it in the cache so AzureAD component automatically registers a valid logged in session.

**Describe the solution you'd like*

[2020-02-08 06:39] BlackFenix2 commented on #171
@AndrewCraswell i got a PR ready, the SampleAppRedirectOnLaunch was a bit of a challenge to refactor with hooks.

I can still help with separating tooling but i didn't want to do too much on one PR.

[2020-02-08 07:05] #171 closed

[2020-02-10 10:30] OscarGalindo commented on #192
Still the same error with another import:

dist/typings/AuthenticationActionCreators.d.ts:
import { IAccountInfo } from 'src/interfaces';

[2020-02-10 10:55] OscarGalindo commented on #192
Here you have more information: https://github.com/Microsoft/TypeScript/issues/15479

It's something that can't be fixed at build time for now, we should avoid using paths based on baseUrl from tsconfig, what do you think?

[2020-02-10 21:50] heymega opened #206 "Upgrading from Version 1 to Version 2 Results in Whitescreen"
**Library versions**
- `react-aad-msal`: 2.3.2
- `msal`: 1.2.0

**Describe the bug**
I've upgraded my project from `react-aad-msal`: 1.1.2 to `react-aad-msal`: 2.3.2 and I'm now getting a white screen when my app loads. I'm not getting any errors or warning in the console either.

If I downgrade back to 1.1.2 it works and I'm redirected to Azure AD.

Is there a breaking change upgrading to this ve

[2020-02-10 22:13] heymega commented on #206
If I had a nickel for every time I opened a GitHub issue and immediately fixed my own problem 😂

I didn't realise the `MsalAuthProvider` argument list had changed. For Version 1 the 3rd argument used to be the `LoginType`, this is now `IMsalAuthProviderConfig`. Once I changed this over it started working again 👍

[2020-02-10 22:13] #206 closed

[2020-02-11 15:22] NextStar31 commented on #198
HI ! Thank you for your response. I will try to repro with the sample app and see what i do differently. I will provide an small example with the problem

[2020-02-11 19:54] brayanL commented on #149
I have the same issue, I,m working with redux and I have the following object:
[code]

What should be the solution?

[2020-02-13 05:04] jhaankit commented on #197
Safari browser throughs error "**Safari can’t open the page. The error is: “The operation couldn’t be completed. (kCFErrorDomainCFNetwork error 303.)**".

i assume, ERR_CONNECTION_CLOSED in chrome, which happens occasionally and kCFErrorDomainCFNetwork error are related issue.

Surprisingly, Safari browser throws 'kCFErrorDomainCFNetwork error 303' always in QA environment but works fine in DEV en

[2020-02-13 05:20] jhaankit commented on #195
If my log helps in anyways to understand the issue,
versions: "react-aad-msal": "2.3.3" and "msal": "1.2.1".
<img width="1524" alt="tokenBlock" src="https://user-images.githubusercontent.com/11736703/74403755-6c52c200-4e4e-11ea-8f7e-bd4cbf1ff253.png">

[2020-02-13 14:05] cicorias commented on #195
Not sure if this helps. https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1194

[2020-02-13 22:19] icatchx22i commented on #137
Hi, i am in the same boat. trying to use this method to authenticate a tab within MS Teams (iframe). Are there any @amitvig22  did you make any progress here?

[2020-02-15 10:16] sebastianspross opened #207 "New B2C Endpoint is not working"
**Library versions**
- `react-aad-msal`: 2.3.3
- `msal`: 1.2.1

**Describe the bug**
I am using the new URL for the AD B2C `<name>.b2clogin.com` and the library is calling `https://login.microsoftonline.com/common/discovery/instance?api-version=1.0&authorization_endpoint=https://<name>.b2clogin.com/<name>.onmicrosoft.com/b2c_1_<name>/oauth2/v2.0/authorize` (got this information from the browser co

[2020-02-15 14:02] sebastianspross commented on #207
Okay. I found something in the documentation [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-b2c-overview#step-4-configure-your-application-to-use-b2clogincom). By adding `validateAuthority: false` to `auth` everything is working as expected.

But what am I actually disabling there?

[2020-02-15 14:02] #207 closed

[2020-02-18 09:50] gijs89 opened #208 "New npm release"
Hi,

This bug was fixed last week: https://github.com/syncweek-react-aad/react-aad/commit/091cded5a06cc34c35ddf903fd38733d6bc4dbd4

Unfortunately the fix is not yet published to the npm package. It would be a great help to if a new npm release could be created. Thanks!

[2020-02-19 20:02] brayanL commented on #201
So, what is the solution? how should look like setupTests.js file?

[2020-02-20 00:16] AndrewCraswell commented on #208
Thanks for the patience, I was out of the country for some time. I've just pushed `2.3.4` which will contain this fix.

[2020-02-20 00:16] #208 closed

[2020-02-20 01:22] FizzBuzz791 commented on #201
Just add `import "regenerator-runtime";` to the file and it _should_ solve the problem.

[2020-02-20 08:14] gijs89 commented on #208
great thanks!

[2020-02-24 18:33] amitvig22 commented on #137
@icatchx22i - sorry for the late response, for now we are using the Teams recommended approach for Auth and not using this library within Teams.

[2020-02-24 20:33] anderssonola commented on #105
Has anyone found a workaround for this issue when using the redirect flow. When the reset password flow is finished on the azure side, it redirects back to my React app
- with `/b2c_1_passwordreset/oauth2/v2.0/authorize`
- but it should be `/b2c_1_signin/oauth2/v2.0/authorize`

causing the refresh token iframe to fail with ` in a frame because it set 'X-Frame-Options' to 'deny'.

[2020-02-25 11:47] hbermani opened #209 "[Question] How to prevent the app from downloading twice?"
**Is your feature request related to a problem? Please describe.**
The library is working well for me but I am noticing that upon client navigation to the initial app it downloads the application then navigates to Azure AD for authentication, upon successful authentication it appears to re-download the application again. Is there a way I can get the application to only download once?

Here is the

[2020-02-26 13:57] joeyzia opened #210 "Jest Testing: Test Suite is Failing to Run"
**Library versions**
- `react-aad-msal`: 2.3.4
- `msal`: 1.2.1
- `react-scripts`: 3.4.0
- `enzyme`: 3.11.0

**Node Version**
- `node`: v13.9.0
- `npm`: 6.13.7

**Describe the bug**
When running `npm run test` / `"test": "react-scripts test --verbose"` Jest is not able to run the test suite. Returns with an unclear error message

[code]

**Expected behavior**
Should either fail with a clear error o

[2020-02-27 16:27] zsid opened #211 "bug: Login Loop when user is unauthorised"
**Library versions**
- `react-aad-msal`: 2.3.4
- `msal`: 1.2.1

**Describe the bug**
We are using the implicit login flow, using `redirect` for the user to authenticate. When a user with valid credentials in our organisation tries to authenticate they get into an indefinite loop from our app back to Microsoft authentication page and back again when they are not in the App user pool that we have sp

[2020-02-27 16:33] zsid commented on #211
I have also mentioned the issue on `msal` one. Github is very helpful to link it above 😄

[2020-02-27 16:49] zsid commented on #211
This is the error I get in the url

`
http://localhost:3000/login#error=interaction_required&error_description=AADSTS50105%3a+The+signed+in+user+%27%7bEmailHidden%7d%27+is+not+assigned+to+a+role+for+the+application
`

[2020-02-28 12:27] hbermani commented on #209
I found a workaround by wrapping App.js with suspense and lazy load it.

[2020-02-28 12:27] #209 closed

[2020-03-02 18:31] maike9 commented on #195
I was seeing the same error.   I was getting this error in the iFrame.
AADSTS50011: The reply URL specified in the request does not match the reply URLs configured for the application:

Turns out the redirectUrl being sent in the iFrame included /auth.html.  I added http://{domain}.com/auth.html to the list of accepted redirectURLs in App registration on Azure.

[2020-03-02 21:55] AndrewCraswell commented on #198
I just saw this issue filed on MSAL, could it be related to what you're seeing?
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1310

[2020-03-04 02:05] bernardwolff commented on #44
I realize this issue is closed, but just wanted to add some additional info in case anyone is struggling with this as I did. Following the advice on this issue page, I was not able to get my .net core webapi to accept the tokens created through react-aad until I found [this page](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-app-configuration) in the mi

[2020-03-05 13:22] KonstantinDinev commented on #195
Another issue when we exclude the

 is when I set the auth options field **tokenRefreshUri: window.location.origin + '/auth.html'** .
Then the error is the following:

[2020-03-05 16:03] AndrewCraswell commented on #195
@KonstantinDinev Can you post the full text of the error, including the URLs? The error you're seeing is saying that there was an error, and AAD was trying to redirect to the error page but MSAL prevented it. If you click on the second URL it will take you to the error page so you can get the error description. Usually this is caused by a configuration issue.

[2020-03-06 03:18] mosessaur opened #212 "Is It possible to specify response_type for MsalAuthProvider?"
**Library versions**
- `react-aad-msal`: 2.3.4
- `msal`: 1.2.1

**Describe the bug**
Can't specify response_type value.

I wish to retrieve both id_token and token when authenticating. Is it possible to specify a value for response_type?

[2020-03-09 09:23] KonstantinDinev commented on #195
@AndrewCraswell this is the screenshot of the error message. It is very similar to @Nexith 's problem but if I set the redirecUri to auth.html as he does, it returns a blank page without redirecting to the right page.

<img width="385" alt="Screenshot 2020-03-09 at 11 10 55" src="https://user-images.githubusercontent.com/17121685/76199136-f85ecc00-61f7-11ea-9c9f-21ab6d25067e.png">

[2020-03-09 09:41] Nexith commented on #195
@KonstantinDinev, I've added both `https://localhost:3000` and `https://localhost:3000/auth.html` to the Azure Auth config for allowed callback urls.

Currently my application config looks like this for authProvider.js:
[code]

Still seeing intermittent errors where it get's blocked in the iFrame where you have to stop the page and then click refresh for it to login, but it happens very rarely and

[2020-03-09 10:22] paddotk opened #213 "Uncaught ReferenceError: regeneratorRuntime is not defined"
**Library versions**
- `react-aad-msal`: 2.3.4
- `msal`: 1.2.1

**Describe the bug**
I've installed and setup react-aad as per the instructions, but using it breaks my application.
When wrapping my application with the AzureAD component:
[code]
I get the error `Uncaught ReferenceError: regeneratorRuntime is not defined` and React never renders anything. I've looked for a cause and solution to this

[2020-03-09 11:02] don1989 commented on #213
Hey @paddotk - I've also run into this issue and went down the babel fixing route but I had no luck. I can't remember where exactly I found this solution, but I fixed it by including this at the top of my index.tsx file (or index.js if you're using javascript):

[code]

Hopefully that works for you.

[2020-03-09 11:57] paddotk commented on #213
Thanks don1989, unfortunately this causes another issue. The errors I'm getting now are:
[code]

[2020-03-09 12:04] don1989 commented on #213
That seems to be a separate issue. Have a look at this issue to see if it helps as I've also run into that too: https://github.com/syncweek-react-aad/react-aad/issues/186

[2020-03-09 13:31] KonstantinDinev commented on #195
@Nexith thank you very much! I had a configuration issue for the local environment as what @AndrewCraswell pointed earlier. I was targeting http instead of https for the redirect. However, I had to start the project with `HTTPS=true npm start` and it worked with `/auth.html` included but the console was still firing `[ERROR] ClientAuthError: Token calls are blocked in hidden iframes` plus `err_cer

[2020-03-09 21:32] AndrewCraswell commented on #213
@paddotk, as far as I'm aware, MSAL does not currently support Teams scenarios. This is because Teams is rendering the application within an iframe, which is not a totally supported workflow last I read.

[2020-03-11 16:19] NextStar31 commented on #198
Hi, thx it is exactly my issue. I will post there to add to the post. Thank you

[2020-03-17 22:19] vikramdadwal opened #214 "getAccessToken throwing "SecurityError: Failed to set the 'href' property on 'Location':" error on Chrome"
**Library versions**
- `react-aad-msal`: [e.g. version number]
- `msal`: [e.g. version number]

**Describe the bug**
I am trying to get the access token, which needs to be passed as Bearer token in API calls. But chrome throwing error and no access token generated:

**Here is the code:**

`const _fetchData = async () => {
      dispatch({ type: "ACTION_FETCH_INIT" });
      try {
        const tok

[2020-03-18 05:00] chixcancode commented on #195
Did as @Nexith on this, adding http://localhost:3000/auth.html to the Redirect URI for the app registration resolved the issue.

[2020-03-19 20:05] phylim opened #215 "getAccessToken fails in chrome is running in automated test environment"
**Library versions**
- `react-aad-msal`: [2.3.4]
- `msal`: [1.2.1]

**Describe the bug**
getAccessToken fails in Cypress Automated testing

**Expected Behaviour**
it should return access token when MsalAuthProvider.getAccessToken() is called

**To Reproduce**

Steps to reproduce the behavior:
1. Open Cypress by doing ```cypress open```
2. run any test. An automated browser window will open
3. Open

[2020-03-20 13:57] phylim commented on #215
Additional Information: After trying a few different scenarios, I found that if I did this inside test script and try to login to the app in a different tab, I couldn't get access token. I've tried clearing caches, starting from scratch, everything. Nothing seems to work to get that browser instance to get accesstoken.
[code]
However, if I did cy.visit to any other url, for example ```cy.visit('ww

[2020-03-20 14:35] #215 closed

[2020-03-21 00:40] AndrewCraswell commented on #214
Could you please share the version numbers of the library you're using, and also the full text of the error you're receiving, including the links?

[2020-03-21 01:48] vikramdadwal commented on #214
@AndrewCraswell including auth.html as reply url solved the issue. Thanks.

[2020-03-21 01:48] #214 closed

[2020-03-24 17:28] ajayrknair430 opened #216 "Silent idToken request failing due to duplicate domain_hint parameter"
**Library versions**
- `react-aad-msal`: 2.3.4
- `msal`: 1.2.1

**Describe the bug**
This bug relates to https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1134. Apparently for a silent token call MSAL library adds duplicate domain_hint query parameter along with the one we configure. This issue usually happens after session expiration and a silent request is sent to azure s

[2020-03-24 19:36] AndrewCraswell commented on #216
What were you thinking for the code fix? I'm inclined to let the MSAL folks fix this on their end, since the consumers `domain_hint` should be respected

[2020-03-24 19:44] ajayrknair430 commented on #216
Hi @AndrewCraswell, I agree with you to wait for MSAL to fix that.
My suggestion was to add one more check here in not sending the domain_hint to silent calls because its not required. The users will be redirected to their respective login screen using the login_hint parameter.

The code I was suggesting is to strip the domain_hint parameter (if any) from the silent token calls. For instance

File

[2020-03-25 15:03] paddotk commented on #213
@AndrewCraswell Ok, thanks, too bad. I guess you specifically mean react-aad though? Because a Microsoft expert who specifically focuses on Teams apps suggested I use MSAL or ADAL for authentication.

Either way, I managed to find another way to authenticate in our app, so that's good :)

[2020-03-25 21:37] Bluhman opened #217 "When running as an Azure App Service, Get slammed into a 302."
**Library versions**
- `react-aad-msal`: ^2.3.4
- `msal`: ^1.2.1

**Describe the bug**
When testing my app locally, My application (a SPA hosted on an ASP.Net Core program) will log in the user properly, storing the user information inside the AAD component provided on the page. Granted it forces the app to reload itself for some strange reason when it's done, but it still remains functional throu

[2020-03-26 11:51] kerosan opened #218 "testcafe (testcafe-hammerhead) broke authentication"
**Library versions**
- "react-aad-msal": "^2.3.4",
- "msal": "^1.2.2",

when testcafe run on http://MY_LOCAL_IP:56480/YI7BRMbMT!f/https://MY_BASE_URL/login and have successfully logged in, then after redirect to "redirectUrl" instead of home page i see login page and error in console

![image](https://user-images.githubusercontent.com/10149363/77643625-65988e00-6f68-11ea-887f-a00cd7264990.png)

if

[2020-03-26 16:18] Bluhman commented on #217
To make matters more confusing, the auth flow will work properly for people who use the Edge Chromium Browser, and apparently also for when one is browsing in Incognito Mode with Chrome. Some people also are able to get it to work with normal Chrome as well, but it seems like the issue might be semi-related to shared AAD logins between different Microsoft pages?

[2020-03-27 21:30] amitvig22 commented on #213
@paddotk - i had a similar requirement and we ended up using the samples for auth Teams has set out currently. Teams is working on a SSO API but it is under developer preview : https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/authentication/auth-aad-sso

[2020-03-30 00:45] andrewjmaguire commented on #211
I am experiencing the same issue for accounts that do not have sufficient roles.

[2020-03-30 09:45] thebiltheory commented on #193
I have a similar issue where I hit:
- /login
- Redirect to authentication
- Authentication successful
- Back to /login

[2020-03-31 01:30] deanilvincent opened #221 "TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined at validateString (internal/validators.js:118:11) - Project: react-aad-typescript"
**Library versions**
- `react-aad-msal`: ^2.3.2
- `msal`: ^1.2.0
- `npm`: 6.14.4

**Describe the bug**
[code]
`TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined
    at validateString (internal/validators.js:118:11)`

![Screen Shot 2020-03-31 at 9 28 01 AM](https://user-images.githubusercontent.com/10904957/77977376-22f10000-7332-11ea-85f3-66f2929141b6

[2020-04-01 08:58] Okhrimenko commented on #105
HI, thanks for you answer.
The code above doesn't work for me. It couldn't redirect to Password Reset page, it redirects back to the login page. My solution is:

` const storageError = window.localStorage.getItem("msal.error.description");
  if (storageError && storageError.search("AADB2C90118") !== -1) {
                                    // Forgot password
                return <AzureAD forceL

[2020-04-01 15:00] letisharianne opened #222 "getAccessToken, infinitely calls within Azure"
**Library versions**
- `react-aad-msal`: 2.3.2
- `msal`: 1.2.1

**Describe the bug**
When calling authprovider.getAccessToken() it infinitely to calls the cache and continues to unmount/remount the app

**Expected behavior**
To get a new access token once, thus being able to call the api once.

**To Reproduce**
Steps to reproduce the behavior:
1. Get Projects is invoked in a useffect with empty de

[2020-04-02 10:03] ranshine opened #223 "After successful login pressing back it is showing again msal login page"
msal@1.2.1

I am using this library for azure authentication login in react. After successful login using react router i am navigating to home page. But in home page if i press browser back button it is again asking azure login. How to stop showing azure page on pressing back.

I am doing after successful login
this.props.history.replace("/home")

if i press back it is showing
https://login.micros

[2020-04-02 13:34] zsid commented on #218
@kerosan - I have raised a bug with testcafe - https://github.com/DevExpress/testcafe/issues/4834

[2020-04-10 19:44] mardomza commented on #222
Had the same problem. This is the cause: https://github.com/syncweek-react-aad/react-aad/issues/195#issuecomment-577014503

[2020-04-10 19:52] letisharianne commented on #222
included the auth.html in folder, and still getting the same errors, also not wanting to store the token as a global key

[2020-04-15 10:06] pricetula opened #225 "Authentication State stuck in "InProgress" state"
**Library versions**
- `react-aad-msal`: 2.3.4
- `msal`: 1.2.1

**Describe the bug**
AzureAd React provider Authentication State is stuck in **"InProgress"**  state if the dialog prompt requesting password is left open for more than a minute and then closed.
![ms1](https://user-images.githubusercontent.com/3857337/79324691-aad12f80-7f18-11ea-9368-fa07c90a7e5a.png)

**Expected behavior**
If the pas

[2020-04-15 18:18] nairmanu commented on #210
try adding` import "regenerator-runtime";` in your `setupTests.js`

[2020-04-15 18:33] joeyzia commented on #210
src/setupTests.js
[code]

Does absolutely nothing.

Output:
[code]

[2020-04-17 12:15] adomrockie commented on #105
For anyone looking for a solution, this is what I did for a few days.

index.js

[code]

[2020-04-17 17:39] joeyzia commented on #210
Upon researching, realizing this is a silly error. You should be mocking the `react-aad-msal` library for your tests and "intercepting" the library.

[2020-04-17 17:39] #210 closed

[2020-04-18 16:41] justinlettau opened #227 "MSAL 2.0?"
**Is your feature request related to a problem? Please describe.**
MSAL v1 has some known issues with Safari and ITP.

- https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1430
- https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issue-on-Safari

**Describe the solution you'd like**
Any plans to support [MSAL 2.0](https://www.npmjs.com/package/@azu

[2020-04-18 22:52] AndrewCraswell commented on #227
I haven't investigated if there are any incompatibilities, but `msal` itself is listed as a peer dependency for `react-aad-msal`, so the version you want should be installed in addition to the version of `react-aad-msal`. This should give the flexibility to experiment with the `msal` 2.0 version :)

[2020-04-18 22:58] AndrewCraswell commented on #227
I'm going to close this, but mention that during the Micorosft OneWeek hackathon in July, I plan to update this library quite a bit with some cleanup and refactors to emphasize a better architecture based on Context and Hooks. I'll definitely be looking more into MSAL 2.0 and making any documentation changes that are necessary. I know the Safari and ITP issues are top of mind for many.

[2020-04-18 22:58] #227 closed

[2020-04-18 23:03] AndrewCraswell commented on #225
Hmmm, this sounds like an issue that would be better raised on the MSAL side, as they control the items that are stored and cleared from Localstorage. We could probably patch this behavior, but I would be more comfortable fixing the root issue.

[2020-04-18 23:05] AndrewCraswell commented on #221
Merged a fix for this. A release should be out by end of day.

[2020-04-18 23:05] #221 closed

[2020-04-18 23:07] AndrewCraswell commented on #216
Merged the PR, and am kicking off a release shortly. Thanks for the submission, apologies for taking so long to get back to it.

[2020-04-18 23:07] #216 closed

[2020-04-19 00:19] justinlettau commented on #227
@AndrewCraswell Since the v2 is published as a separate package ([@azure/msal-browser](https://www.npmjs.com/package/@azure/msal-browser)), I don't think experimenting will be that easy  unfortunatly 😕 Thanks in advance for looking into v2 in the near future!

[2020-04-21 12:18] Dejiah commented on #217
I am having the same issues since a few weeks ago..

Also assuming it is related to being logged in into Azure Portal at the same time.

Also, when using window.location.origin + "/auth.html" as tokenRefreshUri, the framework does seem to pick randomly another of my registered redirect URIs from Azure AD B2C (which may not be available) and then redirects me back to Login. This usually happens whe

[2020-04-21 12:52] cicorias commented on #217
Often just a trailing slash difference between allowed hosts setup in the Azure App vs the real apps URL can cause this.

A trace via Developer tools helps. If you see the 302 and examine the parameters to see any differences,

[2020-04-21 17:43] wapplegate commented on #212
I'm also wondering the same thing. My single page application using the implicit flow is getting an access token back, but it is just a copy of the identity token. During troubleshooting I was told our app isn't sending the correct response_type value. We're currently sending "response_type=id_token".

Is there a way to specify "token" as well? I don't see anything that jumps out at me in the opti

[2020-04-21 22:46] lmeerwood opened #228 "Two Redirect URI's on AAD B2C Stops Redirection to Login Page When Login Expires"
**Library versions**
- `react-aad-msal`: ^2.3.5
- `msal`: ^1.2.1

**Describe the bug**
When I have two redirect URI's in my Azure AD B2C instance my web application will no longer redirect to the log in page when the access token has expired. Everything between the `<AzureAD>` tags stops showing (which is everything in my case). If I leave it at just one it redirects fine.

Once the app has stoppe

[2020-04-28 16:59] kerosan commented on #218
version upgrade helps
    "react-aad-msal": "^2.3.5",
    "msal": "^1.3.0",

[2020-04-28 17:01] #218 closed

[2020-04-29 15:48] todortestnow opened #230 "Access token cannot be obtained"
**Library versions**
- `react-aad-msal`: 2.3.5
- `msal`: 1.2.2

**Describe the bug**
In Azure AD the application's implicit grant flow is configured to send both Access tokens and ID tokens. I installed the sample application in the project. It shows me ID token but not Access token. When i click get access token it successfully get it, but when i click get access token it fails with the error:

U

[2020-04-29 18:08] maudominguez opened #231 "Missing License file. What is the License on this project?"
**Is your feature request related to a problem? Please describe.**
I don't know what the License for this project is. Can a License file be added?

**Describe the solution you'd like**
Can a License file be added to this project?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any o

[2020-04-29 18:54] AndrewCraswell commented on #231
Added MIT License:
https://github.com/syncweek-react-aad/react-aad/blob/master/LICENSE

[2020-04-29 18:54] #231 closed

[2020-05-01 23:27] nairmanu commented on #169
I'm facing the same issue with iOS devices when running the app locally. (using http and localhost).

[2020-05-04 18:52] brayanL commented on #149
Maybe there is a solution on new releases?

[2020-05-04 19:07] AndrewCraswell commented on #149
Hey @brayanL, the error you have is saying the MSAL blocked a page navigation from occuring. Seems the AAD was trying to redirect to an error page, but MSAL prevented that. If you copy the full `authorize/...` URL in the error and go to that link, you will see the real error message. It's usually a configuration issue in the Azure AD app.

It's pretty confusing to be sure, but it's a current limit

[2020-05-07 16:48] wapplegate commented on #230
I had this same problem, I assume it is by design, but it seems like the initial token request that is returned the access token mirrors the identity token. If you explicitly call the `authProvider.getAccessToken();` method I have been able to receive a valid access token for my API.

[2020-05-13 13:13] stephenstroud opened #232 "AuthError: Unexpected error in authentication.: Hash does not contain state"
**Library versions**
- `react-aad-msal`: ^2.3.5
- `msal`: "^1.3.0

**Describe the bug**

Using Azure B2C.

I'm using a custom policy -  invitation sample located [here](https://github.com/azure-ad-b2c/samples/tree/master/policies/invite):

When redirecting to the app from the invitation registration screen the following browser error message is displayed:
AuthError: Unexpected error in authenticat

[2020-05-13 18:24] canmenekse opened #233 "Page refreshes on every access token acquisition"
**Library versions**
- `react-aad-msal`: 2.3.5
- `msal`: 1.2.0

**Describe the bug**
I am seeing the page gets reloaded every time I get an access token.
Here is what I am doing:

in the App.tsx
[code]

then upon success in a redux saga:
[code]
where loadX and loadY needs different tokens

and in these calls I acquire the token with

 `const token = await authProvider.getAccessToken({ scopes });`

[2020-05-15 02:19] Seddy24 commented on #89
@AndrewCraswell looks like they finally addressed it in the MSAL Library version 1.3.0 :)

[2020-05-15 14:12] michalk93 commented on #232
@stephenstroud I am having the same issue using ReactJS and a custom sign up policy. It's worth mentioning, that it only occurs when creating a user. Both signing in/out and resetting password work fine.

[2020-05-16 07:04] stephenstroud commented on #232
It's suggested that it's been resolved in msal 1.3.0 - See here.
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/701

[2020-05-18 09:02] michalk93 commented on #232
@stephenstroud I've been using msal 1.3.0 and had this issue. Today I updated to 1.3.1 and that didn't help as well.

[2020-05-18 09:40] stephenstroud commented on #232
Have you been using it through the react-aad package?  Seems it's referencing an older version
https://github.com/syncweek-react-aad/react-aad/blob/5015337ef1eaa6d29822b207ddd2efeedc28caef/packages/react-aad-msal/package.json#L80

[2020-05-18 11:37] michalk93 commented on #232
@stephenstroud you' re right. I'm using react-aad package. That's probably the problem. Thanks for this notice!

[2020-05-18 13:10] terjela opened #234 "Calling authProvider.getAccessToken() causes AzureAD component re-render"
[code]

Use authProvider.getAccessToken() to fetch token, AzureAD component will re-render

### Expected/desired behavior
AzureAD should not re-render. This causes the whole application to re-render for each API call, making the application slower and introduces bugs with input focus etc.

### OS and Version?
Mac OS/Windows 10

### Library versions
- `react-aad-msal`: 2.3.5
- `msal`: 1.3.1

[2020-05-19 08:38] RodFashion commented on #230
This fixed it for me: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1199#issuecomment-575802777

Basically, make sure you have defined an URI for where your `authorize` call should be receiving the tokens.

[2020-05-20 11:56] kiranbhadani opened #235 "Unhandled Rejection (ReferenceError): regeneratorRuntime is not defined"
**Library versions**
- `react-aad-msal`: 2.3.5
- `msal`: 1.3.1

**Describe the bug**
Unhandled Rejection (ReferenceError): regeneratorRuntime is not defined
After upgrade npm package from 2.1.1

[2020-05-20 16:50] TissonMathew commented on #235
@kiranbhadani provide the entire stack trace

[2020-05-22 06:30] pexxi commented on #188
Hi @AndrewCraswell ,
Just checked that the bug you mentioned has been closed in March. The authors are now advising to use @azure/msal-browser for PKCE flow. Any plans on integrating this to react-aad ?

[2020-05-22 07:04] AndrewCraswell commented on #188
Yes, there are discussions but it will require more or less a rewrite. At the moment I'm pretty swamped with a product release upcoming, but my goal would be to have something ready in a month or two.

[2020-05-22 07:29] gauravsbagul commented on #95
Hey, I am using this in React Native and getting same error please suggest some solution for React Native
`import { UserAgentApplication } from 'msal';
import AsyncStorage from '@react-native-community/async-storage';

export const msalApp = new UserAgentApplication({
	auth: {
		clientId: 'xxxxx',
		authority: 'https://login.microsoftonline.com/common',
		validateAuthority: true,
		postLogoutRedir

[2020-05-22 13:56] kiranbhadani commented on #235
Stack trace

![image](https://user-images.githubusercontent.com/14998556/82675200-5563fe80-9bf9-11ea-85b8-f35da0af53db.png)

[2020-05-22 15:35] adomrockie commented on #234
had to remove this from our code becos of this bug

[2020-05-24 07:30] jdthorpe commented on #221
This issue seems to be back.

[2020-05-25 02:36] yogeshpathade commented on #105
@adomrockie I have similar implementation to perform reset password. However at the end of the successful reset password I want the user to get into my portal and start using it without having to go back to Sign In page.

The problem seems to be the auto renewal of token is failing with following error

Refused to display 'https://testdomainmasked.b2clogin.com/testdomainmasked.onmicrosoft.com/b2c_

[2020-05-25 11:34] terjela commented on #234
I had to make a temporary workaround where I store the token in Redux, and check Redux store before calling getAccessToken().

[2020-05-25 15:30] jdthorpe opened #236 "Infinite loop on login and token acquisition in the sample code"
**Library versions**
- `react-aad-msal`: 2.3.5
- `msal`: 1.3.1

**Describe the bug**
The sample site gets into an infinite loop on id and token acquisition in the redirect example.

**Expected behavior**
Not get into an infinite loop

**To Reproduce**
Steps to reproduce the behavior:
1. Run the example
2. Select the Redirect option
3. Login on the redirected Microsoft live page
4. On redirect back

[2020-05-25 21:27] adomrockie commented on #105
I think there is a bug in the getAccessToken call, if you remove this function from your api function, you will notice your current function works fine. There are a few raised bug in regards with this issue. Hope it helps.

[2020-05-25 23:09] jdthorpe opened #237 "Fails to Acquire access token on first attempt in chrome when using Redirect option"
**Library versions**
- `react-aad-msal`: 2.3.5
- `msal`: 1.3.1

**Describe the bug**
When using the Redirect option in Chrome to acquire an access token, the package errors out and causes a page reload.  However, the second attempt is successful.

When the `Acquire access token` button is clicked, the script errors out, causes the page to reload, and displays this message for a fraction of a secon

[2020-05-26 01:43] yogeshpathade commented on #105
@adomrockie Thanks. You are right the getAccessToken does trigger the refresh/renewal flow and gets into the errors listed before. I have seen similar issues raised in the MSAL repo. I might chase up some relevant one there. Fixing this in MSAL would make the user experience whole lot better without having to redirect user to Sign In after successful reset password.

[2020-05-26 05:58] jdthorpe commented on #237
After a brief 12 hour debugging session, I realized it's the darned [third party cookies](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1219) which are disabled by default in Chrome.  Re-enable cookies and everything is hunky-dory

[2020-05-26 05:58] #237 closed

[2020-05-26 19:42] AndrewCraswell commented on #235
MSAL uses unpolyfilled promises, and I believe by extension, so does `react-aad-msal`. I need to add a note to the documentation for this, but for now you will need to polyfill.

[2020-05-26 20:06] TissonMathew commented on #235
@kiranbhadani can you try it? thanks @AndrewCraswell

[2020-05-27 02:10] a-r-d opened #238 "Auth Code Flow implementation"
My understanding is that this project is using [_Implicit Grant (link)_](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-authentication-flows#implicit-grant), but microsoft has just released support of [Auth Code For SPAs](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow).

I was looking at the official roadmap for MSAL.js and they menti

[2020-05-27 03:04] phylim opened #239 "Error: A non-serializable value was detected in an action, in the path"
**Library versions**
- `react-aad-msal`: 2.3.5
- `msal`: 1.3.1

**Describe the bug**
"A non-serializable value was detected in an action, in the path: `payload`" - output in console.
<img width="1498" alt="Screen Shot 2020-05-26 at 10 51 42 PM" src="https://user-images.githubusercontent.com/42676669/82973040-72575380-9fa4-11ea-8555-6230ac0cbd71.png">

**Expected behavior**
No error output in conso

[2020-05-27 05:06] kiranbhadani commented on #235
@AndrewCraswell Not sure how to apply 'polyfill', I managed to upgrade the package by installing all npm dependencies and importing regenerator-runtime

**Dependencies add to package.json**
"velocity-animate": "^1.5.2",
    "@babel/core": "7.8.4",
    "@svgr/webpack": "4.3.3",
    "@testing-library/jest-dom": "^4.2.4",
    "@testing-library/react": "^9.3.2",
    "@testing-library/user-event": "^7.

[2020-05-27 18:01] phylim commented on #239
This happens only when server is running in dev mode.

[2020-05-28 10:19] stephenstroud opened #240 "Upgrade to MSAL 1.3.1"

[2020-05-28 18:17] phylim commented on #239
I did some more digging. This error output happens because CRA template uses @reduxjs/toolkit to configure the store. Looks like reduxjs toolkit has mechanisms to identify non-serializable values whereas original react boilerplate doesn't.

[2020-05-28 23:38] rodrigowpl opened #241 "Error when session expire automatically"
**Library versions**
- `react-aad-msal`: 2.3.4
- `msal`: 1.2.1

**Describe the bug**

After some time ( a week or so ) the page returns an empty page with just the background displayed and looking in the developer console shows that my access token is now invalid
![image](https://user-images.githubusercontent.com/18172307/83203377-ad31c680-a11f-11ea-8f6f-177a74abbb5f.png)

The session expired seem

[2020-06-03 13:18] rtrap-rsi commented on #239
did you found a way to fix it or a workaround?

[2020-06-03 20:48] AndrewCraswell commented on #239
Thanks for pointing this out, I found the same issue a week back when playing with Redux Toolkit. We can do better by serializing the ID Token that gets saved to Redux. Alternatively, you can just delete those properties in your reducer if it's preferred.

Another alternative is to disable the errors for dev by disabling the serialization middleware the Redux Toolkit has enabled for dev by default

[2020-06-03 20:50] AndrewCraswell commented on #238
Yes, absolutely. The goal was to do this in July. The primary challenge is that MSAL has a new package which contains the new auth flow for browser environments. In addition to utilizing the new package, the library can have better support for hooks using context API, which should resolve a number of bugs that currently exist.

[2020-06-03 20:55] #213 closed

[2020-06-03 20:56] AndrewCraswell commented on #240
Is this in reference to the samples? MSAL is a listed as a peer dependency, so the version can be controlled separately from react-aad-msal. I haven't had a chance to do a full test pass with 1.3.1 yet though, but when that's accomplished it should be easy to migrate the samples to the new version

[2020-06-07 04:02] luanbon commented on #222
I am facing the same problem, auth.html is included in public folder, there is no error occuring but every getAccessToken call make a new request on azure to get a token, this is not the properly behavior, according to the docs, "This function will asynchronously attempt to retrieve the token from the cache. If the cached token has expired it will automatically attempt to refresh it".

[2020-06-07 05:38] luanbon commented on #222
After a little more investigation, I found that this issue only repros when I have 'openid' or 'profile' in my token request scopes. If the scopes property is just https://<App URI>/user, I see the expected behavior of the cached token being reused. Even if I include multiple scopes in the request, the behavior is as expected if the scopes are just app scopes (rather than OIDC items like openid or

[2020-06-08 15:20] angelo-balderas-by commented on #241
Do you have any new information about this issue ?  I'm experiencing the same issue

[2020-06-09 22:04] Reverendheat opened #242 "Help with getting groups from accountInfo.account.IdTokenClaims"
**Library versions**
 "msal": "^1.3.1",
 "react-aad-msal": "^2.3.5",

**Describe the bug**
I don't know if this is exactly a bug, but using the example here https://github.com/syncweek-react-aad/react-aad/blob/master/samples/react-typescript/src/App.tsx, how do you go about getting the groups out of accountInfo.account.idTokenClaims?

**Expected behavior**
In the below component, I should can acce

[2020-06-11 22:38] flieks commented on #234
i am having the same issue

[2020-06-13 20:23] flieks commented on #149
I am having the same error now
![image](https://user-images.githubusercontent.com/5032389/84578327-81bc0680-adc4-11ea-89be-e9ccaa4d47b2.png)
Also having 1 network error
auth.html cancelled request

[2020-06-14 03:03] dluc opened #243 "Source code for a specific npm package version number?"
Is there a way to map the version used in npmjs.com to a tag in this GitHub repo, or at least a specific commit?

For instance, I'd like to download the source code of version 2.3.3, but this repo doesn't have a tag for 2.3.3. Any suggestion?

# Versions in npmjs.com:

<img width="784" alt="image" src="https://user-images.githubusercontent.com/371009/84583683-094b4a80-adb0-11ea-9e18-ce29359bd65e.p

[2020-06-14 03:10] dluc commented on #243
btw, I tried this link `https://github.com/syncweek-react-aad/react-aad/compare/v0.3.7...v2.3.3` from the changelog, but it doesn't work.

<img width="643" alt="image" src="https://user-images.githubusercontent.com/371009/84583810-e752c780-adb1-11ea-835a-1d158ec8007d.png">

[2020-06-14 03:13] dluc commented on #243
found this, I guess I will use git log to find the versions :-)

[code]

[2020-06-14 03:13] #243 closed

[2020-06-15 23:08] thiagomeireless commented on #242
This works fine for me:

[code]

Full snippet of my AzureAD:

[code]

[2020-06-17 11:44] voloshyndmitry opened #244 "Warning: React.createElement: type is invalid -- expected a string"
Hi All!
**Steps to reproduce:**
When I use:

[code]

[code]

in create react app (dev env) all work fine.
But after build(prod env) I got:

**Actual result:**
[code]

**How to fix:**

[code]

_Maybe it's not a bug. But I didn't find it in the documentation._

[2020-06-21 16:16] Mohammed-El-Nabulsi commented on #105
My solution is just to dig into the exposed MSAL functions and do the following:

[code]

I think my sample should be extended to catch the returned token after Password Reset to prevent a second login prompt to the user. Maybe I'll have time to look at that within the next few days.

[2020-06-24 10:41] sebastianspross opened #245 "getAccessToken is refreshing page on mobile safari (non-inkognito mode)"
**Library versions**
- `react-aad-msal`: 1.3.2
- `msal`: 2.3.5
and tested with other versions

**Describe the bug**
After the redirect from AAD-B2C login page the react code is calling the backend and therefore requesting the accessToken with getAccessToken(). The hole website is refreshing once. In older msal and react-aad-msal versions there was an infinite loop. I am using the auth.html file in

[2020-06-24 19:04] rodrigowpl commented on #241
When the session expires the `AzureAD` component doesn't render the `children` function as it should supposed to do according the documentation: https://github.com/syncweek-react-aad/react-aad#azuread-component

I also tested with the samples provided: https://github.com/syncweek-react-aad/react-aad/tree/master/samples

[code]

There's the component tree, the `authenticationState` is `undefined`:

[2020-06-26 08:01] orlahowell opened #246 "getAccessToken throws "TypeError: Cannot read property 'tokenType' of undefined" when third party cookies are blocked"
**Library versions**
- `react-aad-msal`: 2.3.5
- `msal`: 1.3.2

**Describe the bug**
When third party cookies are blocked, I receive an error when using getAccessToken:

"TypeError: Cannot read property 'tokenType' of undefined
    at new AccessTokenResponse (AccessTokenResponse.js:42)
    at _callee2$ (MsalAuthProvider.js:373)
    at tryCatch (runtime.js:45)
    at Generator.invoke [as _invoke] (

[2020-06-27 09:38] bobo8488 opened #247 "Token of multiple tenant cause login error"
If we are authenticated in multiple tenant, we have multiple azure ad token. But not all tenant are enabled to access our web application... and in this case, the library has to ask me(by default) which account I would like to log in. Otherwise I'm not able to access until I delete my localstorage with all my tokens.

The solution for me is to make the config field "prompt" mandatory and not optio

[2020-06-28 05:31] Premkumar-Shanmugam commented on #105
I used the functions exposed by the auth provider.
[code]

[code]

[2020-06-30 12:40] henriktorget commented on #235
I solved this by adding: `import "regenerator-runtime/runtime"` in my authProvider.js

[2020-06-30 17:45] ztrobinson777 commented on #238
Is the timeline for this integration still looking like July?

I'm trying to provide my team with a timeline/direction for implementing Azure AD authentication within our applications and would very much like to use this library.

[2020-07-01 09:19] raj-here opened #248 "AADSTS50105: Page not rendering on server Environment"
Hi,
In local, This is page being rendered if The signed in user 'xzz@abc.microsoft.com' is not assigned to a role for the application.

It is working fine.

![image](https://user-images.githubusercontent.com/37954436/86225842-6ca6ec00-bba8-11ea-8cb0-654610750175.png)

But when I'm trying to produce the same thing on server, It is not being rendered.

Earlier, It was fall under infinite loop. I've

[2020-07-01 17:35] GraemeF commented on #238
"July 6th, 2020 (Tentative)" for @azure/msal-browser v2.0.0, according to https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-browser#releases 🤞

[2020-07-03 05:34] dantman opened #249 "Cannot use MSAL's state/userState with react-aad-msal"
**Is your feature request related to a problem? Please describe.**
MSAL supports a [state parameter](https://docs.microsoft.com/en-us/azure/active-directory/develop/reply-url#use-a-state-parameter) for the redirect login flows. For MSAL.js you provide a `state` parameter in the AuthenticationParameters, MSAL.js wraps this in its own state putting it in a `userState` key in a base64 encoded object,

[2020-07-06 16:53] #232 closed

[2020-07-06 23:32] bldulam1 commented on #149
Manually, this issue can be solved by clearing the site data.

Does anybody know how to "clear site data" through javascript?

[2020-07-07 22:48] flieks commented on #149
@bldulam1 this ?
[code]
i switch back to msal and based myself on their react example project which was updated few days ago

[2020-07-10 13:48] GraemeF commented on #211
I'm seeing a similar loop with `error=interaction_required` but in my case a different cause (an admin hasn't authorised the app on the users' behalf, so the user should be prompted to do so themselves). It seems to happen about once a day for users. When the refresh times out the looping stops, they sign in again and everything is fine again.

This is with Chrome on everything.

[2020-07-11 07:08] kailaskadam opened #250 "error=invalid_request&error_description=AADSTS50194"
**Library versions**
- `react-aad-msal`:"^2.3.4"
- `msal`: "^1.2.1",

**Describe the bug**
Below is the my configuration
import { MsalAuthProvider, LoginType } from "react-aad-msal";
import { Logger, LogLevel } from "msal";
require("dotenv").config();

// Avoid creating an instance inside the component it will be recreated on each render.
export const authProvider = new MsalAuthProvider(
  {
    a

[2020-07-11 16:41] thiagomeireless commented on #105
Thank you very much for your workaround @Premkumar-Shanmugam, it works perfectly.

I just wish we had a way to do it 'natively' without having so many redirects back and forth...

[2020-07-13 22:07] ashtmMSFT commented on #246
I see this error too when third party cookies are blocked. I noticed an issue has already been filed for the underlying MSAL library:

https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1880

[2020-07-15 08:49] GraemeF commented on #211
We have captured MSAL logs of the loop (starting at monitorWindowForHash, but could be anywhere as it loops...)

[code]

[2020-07-16 04:20] InspiredJason opened #251 "Redirect loop on authentication after token expiry"
**Library versions**
- `react-aad-msal`: 2.3.5
- `msal`: 1.3.2

**Describe the bug**
I've attempted to replace ADAL with MSAL. The first time the user accesses the app it authenticates correctly, but I am getting into a situation where our app goes into a redirect loop after a period of time. I presume this is when the token expires (1 hour by default, I believe). This happens sometimes when the a

[2020-07-20 23:24] gabriel-kohen-by commented on #188
Hi @AndrewCraswell any update on working with @sameerag from the MSAL.js to update this library to use PKCE?
It seems that with the latest versions of Chrome(84) blocking 3rd party cookies, PKCE is fast becoming the only user friendly doing the MSAL auth.
FYI: @alex-mason-by

[2020-07-21 01:24] ejdoh1 commented on #246
I hit this using Google Incognito

[2020-07-21 16:36] SneakyMeligy commented on #230
I have this same issue as I am trying to access microsoft graph api using the access token but it is not returned in the first place.

If I login from the start with response_type=id_token I can't get the access token but if I put id_token+token I can get the access token.

Below is the url that I am redirected to when I try to login (I have added breaklines to be readable)

Is there a way to pass

[2020-07-22 08:03] SneakyMeligy commented on #230
I have tried downgrading from msal version 1.3.1 to 1.2.1 and now I can get the access token normally when I call authProvider.getAccessToken()
So I guess the issue in my case was with msal version 1.3.1.

[2020-07-23 01:12] ivan7707 commented on #210
@joeyzia Hi, can you please expand on how you finally were able to create the tests  (and mock the library) to test the authenticated and unauthenticated state?
Thanks

[2020-07-24 08:09] Anand-rana commented on #251
i am also  face same issue access token not come.

[2020-07-24 08:16] Anand-rana opened #252 "Access Token not come"
Library versions

react-aad-msal: 2.3.5
msal: 1.3.2

Describe the bug
I've attempted to replace ADAL with MSAL. The first time the user accesses the app it authenticates correctly, but I am getting into a situation where our app goes into a redirect loop after a period of time. I presume this is when the token expires (1 hour by default, I believe). This happens sometimes when the app is idle afte

[2020-07-28 11:42] carlreid commented on #152
@jasonsoden Do you have an example of how you achieved that?

@AndrewCraswell I see a mention in the README about working on a v3. Maybe server side rendering was considered as part of the major bump?

A thought of mine would be to defer to relying on a passed cookie to perform the render as an the authed user. Though when using SSG (Static Site Generation, just went stable in [Next.js 9.5](https:

[2020-07-28 14:27] YYH-2017 commented on #95
Read their doc please.
https://azuread.github.io/microsoft-authentication-library-for-js/ref/msal-core/modules/_configuration_.html#cachelocation

Solution for me was
import { CacheLocation } from 'msal/src/Configuration';

cacheLocation: 'localStorage' as CacheLocation

[2020-07-29 14:02] Andrew1431 opened #253 "Token Refresh removes all claims / scopes initially requested in the ID Token"
**Library versions**
- `react-aad-msal`: 2.3.5
- `msal`: 1.3.2

**Describe the bug**
Refresh tokens lose all scopes originally requested from the user:
https://github.com/syncweek-react-aad/react-aad/blob/a7205ef20c6f9dafff94afbe276fa8fba46b9ef0/packages/react-aad-msal/src/MsalAuthProvider.ts#L160

**Expected behavior**
When I log in using `openid` and `email` as scopes, should they not be include

[2020-07-29 20:38] pejohnst commented on #251
This started to happening to me, as well. I believe it started when I updated Chrome to version 84, and that is related to Chrome's new behavior for 3rd party cookies. When I allow 3rd party cookies, the problem goes away. I am looking into using MSAL 2.0 which supports Authorization Code Flow with PKCE, but it is a manual integration process to use in React unlike using this nice library for Reac

[2020-07-30 14:49] ViieeS opened #254 "Amass of msal tokens at localStorage and cookies"
**Library versions**
- `react-aad-msal`: 1.1.3
- `msal`: 2.3.5

**Describe the bug**
If applications work during long period of time tokens start amass at localStorage and cookies (I already have about 100 tokens).
Looks like some issue with connection and sleep mode on a laptop, but I'm not sure...

**Expected behavior**
There should be only relevant tokens in the cache.

**Desktop (please comple

[2020-07-31 12:57] jurisjansons opened #255 "Azure MFA problems"
**Library versions**
- `react-aad-msal`: 2.3.4
- `msal`: 1.3.3

**Describe the bug**
Our AAD MFA was changed from Office365 MFA to Azure MFA. Before that everything worked. Now, when authorizing in SPA no MFA prompt is showed for user to accept, but user is logged in and access token and id token is returned. Everything seemed fine. Requesting API method, authentication in backend is successful, b

[2020-07-31 17:30] nairmanu opened #256 "AAD_LOGIN_SUCCESS event is triggered twice on login"
**Library versions**
- `react-aad-msal`: 2.3.5
- `msal`: 1.3.2

**Describe the bug**
On login, react-aad-msal library sends AAD_LOGIN_SUCCESS event twice in certain situations. This is not specific to login success event. I see multiple events for AAD_ACQUIRED_ID_TOKEN_SUCCESS as well.

I noticed there is a missing await keyword for processLogin() which may or may not be contributing to the issue?

[2020-07-31 17:37] nairmanu opened #257 "Access token is not getting refreshed"
**Library versions**
- `react-aad-msal`: 2.3.5
- `msal`: 1.3.2

**Describe the bug**
Access token is not getting refreshed when user is already logged in.

The processLogin() refreshes the IdToken when getAccount() is successful but does not perform a refresh of access token before triggering LoginSuccess event. This causes any subsequent API calls that requires the access token to fail without a

[2020-07-31 20:28] raztiff commented on #256
Experiencing the same @nairmanu

[2020-08-01 06:26] csalgo70 opened #258 "Consent Deny by user doesn't redirect to application start page"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

User signs-in first time
He is presented with the consent dialog
He realizes he needs to consent to use the application and decides to use a different msa to use with this app.
Hence he choose to click "No" on consent dialog.
The app logs him out on detecting this.

But it doesn't redirect to the application start

[2020-08-02 06:24] suhadev opened #259 "Able to login without asking for user credentials in unauthenticated state in certain scenerio"
**Library versions**
- `react-aad-msal`: 2.3.4
- `msal`: 1.2.2

**Describe the bug**
 when authentication state is unauthenticated, in some scenerio triggering login function, the application logs in without asking for user credentials.

**Expected behavior**
Whenever Authentication state is unauthenticated, triggering the login function should ask for user credentials.

**To Reproduce**
Steps to

[2020-08-02 13:00] cicorias commented on #259
In step 3 can you ensure all chrome processes are not showing “ps aef” or “top”.

[2020-08-05 09:06] mrpickles3rd opened #260 "Some cookies are misusing the recommended `sameSite` attribute"
**Is your feature request related to a problem? Please describe.**
FireFox and Chrome are changing the default value of the `SameSite` attribute for cookies from `None` to `Lax`

**Describe the solution you'd like**
Explicitly set this value to `None`, `Strict` or `Lax` to remove the warning

**Describe alternatives you've considered**
I have not.

**Additional context**
![Screenshot 2020-08-05 at

[2020-08-05 13:00] yawxir opened #261 "Getting infinite loop while calling external API after authentication"
I am having infinite loop if i call a .NET Core API in ComponenetDidMount or useEffect.

**Code Structure:**
[code]

**AuthFetch**
[code]

**App.js**
[code]

If i comment the function call, it all works perfect. Same function if called on Click event also works good but in current statues where it is being called on ComponentDidMount or useEffect(), it is giving me infinite loop and crashes chrome

[2020-08-08 19:40] pangeaos opened #262 "NextJs implementation"
Any idea why I'm getting an ReferenceError: window is not defined error using NextJs. ?

**Library versions**
- `react-aad-msal`: ^2.3.5
- `msal`: ^1.3.4

**ReferenceError: window is not defined**
    at eval (webpack-internal:///./components/authProvider.js:16:28)

![Screen Shot 2020-08-08 at 13 40 29](https://user-images.githubusercontent.com/221474/89718554-bb505e80-d97c-11ea-8cb4-932bec6a87b7.

[2020-08-10 08:56] JohnPaulHarold opened #263 "Passwordless/MagicLink login"
**Library versions**
- `react-aad-msal`: `^2.3.5`
- `msal`: `^1.3.2`

**Describe the bug**
Trying to login via a passwordless (aka "Magic Link") flow. User can login, but cannot silently get any access tokens to use as bearer tokens on subsequent API calls. The `getAccessToken` call is requiring that the user be shown a login screen.

**Expected behavior**
My expectation is that as the user is alr

[2020-08-10 11:26] hraz-msft opened #264 "AADSTS700054: response_type 'id_token' is not enabled for the application."
**Library versions**
- `react-aad-msal`: 2.3.5
- `msal`: 1.3.4

**Describe the bug**
Getting the error:

While I don't use the id token in my app, but only access token.

**Expected behavior**
Login with no error. Like in this sample: https://github.com/Azure-Samples/ms-identity-javascript-react-spa-dotnetcore-webapi-obo

**To Reproduce**
Follow the samples in this repo, without allow `id tokens`

[2020-08-10 14:14] amazingmaze commented on #261
Having same issue with a similar setup. Getting infinite loop when calling authProvider.getAccessToken() to get the token before calling API. Seems to be complaining that _Token expiration is within offset, renewing token_ even though my token just refreshed and has 1 hour left before expiring.

Windows 10, Edge 84.0.522.52

[2020-08-10 14:39] azer53 commented on #262
Next.js is probably making use of server side rendering. During server side rendering the `window` object is not available. This only lives client-side. The same error will occur in Gatsby as well. You can avoid this 'problem' by calling in your component only client-side. This can be achieved via the `useEffect` hook in React or by using loadable components. (https://loadable-components.com/)

Mo

[2020-08-12 19:34] josh-manton opened #265 "Implementation Question: Loading user data after AAD_LOGIN_SUCCESS?"
Hi,

I'm looking for a little direction or a best practice for loading user data from a database **after** AAD_LOGIN_SUCCESS. Have you given thought to how one might load additional data triggered by the msal lifecycle? Much of the user data important to the application/components does not come from AAD but from our database, so it is important to the components that the User object is loaded alon

[2020-08-13 08:04] raztiff commented on #265
Depends on your setup, and how you’re orchestrating the login process... are you using Redux? If so checkout the answer I gave here:

https://stackoverflow.com/questions/60002585/how-do-i-trigger-an-action-after-login-using-react-redux-and-react-aad-msal/63024513#63024513

Maybe someone else can give a better answer, but might be appropriate for your solution.

[2020-08-13 12:43] GraemeF commented on #227
@AndrewCraswell I think quite a few of us are interested in continuing to use react-aad when we switch our React SPAs to Authorization Code Flow with PKCE... Did anything happen towards that goal in the hackathon you mentioned above?

I'm sure you've all been busy with other stuff and I'm very reluctant to ask! <3

[2020-08-13 15:41] josh-manton commented on #265
Yes, i'm using Rexux and Saga and that is exactly the direction I was headed. Some folks have said that starting a saga from another saga is not good practice. I don't see another solution here.

[2020-08-13 17:32] #265 closed

[2020-08-14 08:30] hraz-msft commented on #264
By the way, AFAIK, IdTokens have no refresh token, so there is no "Remember Me" option. What we should do in that case?

[2020-08-17 18:00] hathbanger opened #266 "Sample application from repo has bug when trying to get a new token after token expiration in incognito mode"
**Library versions**
- `react-aad-msal`: "^2.3.2"
- `msal`: "^1.2.0"

**Describe the bug**
After the token expires, when trying to get a new token via the button, the app crashes.

**Expected behavior**
Expecting that it can get a new token without any error

**To Reproduce**
Steps to reproduce the behavior:
1. Run sample application from react-aad
2. Wait for token to expire
3. Click "Get ID Toke

[2020-08-19 23:01] brunoandradebr commented on #252
You are supposed to change oauth2AllowImplicitFlow to true. It's configuration is located at :

https://portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationMenuBlade/Authentication/appId/<clientId>

And just check Access token then authProvider.getAccessToken() will return a valid token.

[2020-08-21 15:54] alexsilvar opened #267 "Redirect Login not working on Safari IOS due Third Party Cookie Policy"
Solve the Intelligent Tracking Prevention from IOS Safari.

### This issue is for a:
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

### Library versions
- `react-aad-msal`:latest
- `msal`: latest

### Mention any other details that might be useful
Probably we need to use the @msal-browser library instead of msa

[2020-08-26 05:22] yogeshpathade commented on #267
The similar behavior exists with Chrome incognito mode. The workaround is to enable third party cookies in the incognito mode which Chrome has started setting to Block by default with the new releases rolling out to the Users.

There is a issue raised by Users of MSAL Angular library https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2042

[2020-08-27 08:46] edisonmoy commented on #262
`import { authProvider } from '../../components/authProvider';
useEffect(() => {
    setProvider(authProvider());
},[]);`

@pangeaos Where is `setProvider` defined? I am also using Next.js and trying to use your code example but I get a **ReferenceError: setProvider is not defined**.

[2020-08-27 15:32] pangeaos commented on #262
Sure!
I'm using useState.

Let me share a screenshot

![Screen Shot 2020-08-27 at 09 30 18](https://user-images.githubusercontent.com/221474/91462969-0bb63000-e848-11ea-8a72-c00a65194366.png)

[2020-08-27 15:38] ashokbugude commented on #149
I am still facing same issue ,
has anyone managed to solve it

[2020-08-27 17:20] jrow2286 commented on #238
Any updates on this timeline @AndrewCraswell ?

[2020-08-27 21:10] ingogbe opened #268 "Can't construct an IdTokenResponse from a AuthResponse that has a token type of "access_token"
**Library versions**
- `react-aad-msal`: 2.3.5
- `msal`: 1.4.0

**Describe the bug**
I got this message in the console `[ERROR] Error: Can't construct an IdTokenResponse from a AuthResponse that has a token type of "access_token".` when I refresh the page after I'm logged. In Redux the action `AAD_ACQUIRED_ACCESS_TOKEN_SUCCESS ` also is fired right after `AAD_INITIALIZING `. I tried to track it do

[2020-08-28 08:44] andrea-wood commented on #268
Hello, I have the same problem

[2020-08-29 06:24] suhadev commented on #268
Even am facing the same issue. Any help would be much appreciated.

[2020-08-29 19:31] flieks commented on #149
i can confirm even with msal i have the issue
![image](https://user-images.githubusercontent.com/5032389/91644712-f1927280-ea3e-11ea-9c03-a7d9ad20ee25.png)
But it is just in some cases

[2020-09-01 12:45] MiniMarker commented on #268
I'm also facing this issue:

**Current versions**:
msal: 1.4.0
react-aad-msal: 2.3.5

**Current setup**:
[code]

[2020-09-02 14:37] SubhasisDebsharma commented on #246
Happens when the third party cookies are blocked

[2020-09-02 20:07] pvaillant commented on #155
Has there been any progress in removing the Redux dependency? I have a project that I would like to use this library in but that isn't using Redux and where it's going to be hard to justify bringing Redux in just for this.

If this isn't started yet, or if I can help, I'd be happy to put some effort towards this.

[2020-09-03 06:29] zuitaom commented on #268
I have the same problem as well

[2020-09-03 16:13] janandreschweiger opened #269 "Token renewal operation failed due to timeout."
**Library versions**)
- `react-aad-msal`: 2.3.5 (latest) and 2.2.1
- `msal`: 1.4.0 (latest) and 1.2.0

**Describe the bug**
1-10 minutes after the initial login, we and our clients get redirected to the Microsoft login screen. From there on the only way to login again is to delete the cookies.
![image](https://user-images.githubusercontent.com/44372046/92136079-e14a1100-ee0b-11ea-96eb-9dc64dbfbfc4

[2020-09-03 16:32] geckgecko commented on #269
I face the same error. Unfortunately, this problem makes my whole application useless. Any ideas on this?

[2020-09-03 17:04] htariq-nisum-com commented on #269
I am also facing this issue, it seems like this library is using MSAL v1 endpoint which utilizes iframe to renew the tokens now discouraged by modern browsers. for this MSAL.js v2.0 endpoint was introduced to resolve it. checkout https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow

[2020-09-05 06:24] geckgecko commented on #269
It's pretty weird. I haven't experienced this issue for one day. But now the token-renewal fails like before.

@AndrewCraswell could you please have a look on this?

[2020-09-05 12:07] anupong-s opened #270 "My UI re-render always when calling getAccessToken()"
I fetch the data on 'componentDidMount' and before fetch the data, I calling getAccessToken(). I found my page re-render loop.
And then I creating the button for call getAccessToken(). I found my ui re-render always click the button.

I compare the prev-state and next-state, I found "state" changed.

[2020-09-05 19:51] roxkisrover commented on #256
Got same behaviour with LoginType.Redirect scenario:
![image](https://user-images.githubusercontent.com/13747471/92312522-d7c2d380-efda-11ea-9bc9-b2dc1b372fbd.png)

[2020-09-07 13:49] riisi commented on #268
Confirming that downgrading to 1.2.1 fixes it for me. Here's my config if it helps anyone.

[code]

[2020-09-07 13:51] andrea-wood commented on #268
Is this library still maintained?

[2020-09-07 14:00] ingogbe commented on #268
Idk, but the last update was 5 months ago. I'm thinking to use the Microsoft library directly instead of using this in the project I'm working on

[2020-09-07 14:10] andrea-wood commented on #268
Yes It works but It's a temporary solution. I'm planning to use the msal library directly too if there won't be any update about this issue.

[2020-09-08 17:24] Webrusterkk opened #271 "Can we update the version of msal to msal1.4.0"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

### Library versions
- `react-aad-msal`: [e.g. version number]
- `msal`: [e.g. version number]

### Mention any other details that might be useful

[2020-09-08 21:07] MiniMarker commented on #268
Yeah, downgrading works for me as well.
I can live with an older version until next update.

[2020-09-10 05:35] jdthorpe commented on #251
I [again](https://github.com/syncweek-react-aad/react-aad/issues/237) struggled with this for a while, especially since the error never propagates to the error argument of the child of  `<AzureAD>`, i.e.:

[code]

However, if your register a redux store, you *can* listen for the `"AAD_LOGIN_ERROR"` action and handle the error there, for example, by switching to the Popup flow, which doesn't suffer

[2020-09-10 11:05] Nohac commented on #261
I'm having the same issue when using `authProvider.getIdToken()`. This is the error message I'm getting from the console:
[code]

[2020-09-10 13:12] stuarthallows commented on #95
Another way to resolve this is to specify the config type as `Configuration`.

[code]

[2020-09-10 16:27] mledwards commented on #95
If anyone has had the same issue as I did above while doing this via next.js SSR, I moved all of my code into a useEffect hook, which only runs client side, and that solved my problem 👍

Server side rendering doesn't have access to the browser / local caches.